[2018-09-24 21:22] Gpx opened #14 "Fix test"
This test doesn't work
https://codesandbox.io/s/j27wz6p25v

[2018-09-24 21:27] Gpx opened #15 "Implement dblclick()"

[2018-09-24 21:27] Gpx opened #16 "Add documentation"

[2018-09-25 07:27] #14 closed

[2018-09-25 15:54] #16 closed

[2018-09-30 16:32] Gpx opened #20 "Add test for form submit"

[2018-09-30 16:49] #20 closed

[2018-09-30 17:33] #15 closed

[2018-09-30 19:22] sompylasar opened #24 "If you haven't published, I suggest renaming to dom-user-event to reduce its alleged scope"

[2018-09-30 19:27] sompylasar opened #25 "Changing an input value is not typing, will break if value changes onchange, like in masked inputs"
`fireEvent.change` in `type` in a loop over text slices.

[2018-10-01 07:29] Gpx commented on #24
Unfortunately I did publish it already https://www.npmjs.com/package/user-event

[2018-10-01 07:30] Gpx commented on #25
Can you please provide an example of a failing example?

[2018-10-01 07:35] #24 closed

[2018-10-01 12:17] niccord opened #26 "Using this library with plain javascript or other framework"
Is it possible to use this library with plain (vanilla) javascript or other framework like vue.js or angular?
Has someone tested it?

[2018-10-01 13:21] Gpx commented on #26
I think you can use this library with every project based on `dom-testing-library`. For other environments, I don't think it will work because it needs `fireEvent` to operate.

If you manage to try it out feel free to share your results here.

[2018-10-01 13:21] #26 closed

[2018-10-19 03:50] weyert commented on #25
I have created a proposal for resolving this problem. I am having a custom input component which `event.preventDefault()` on `onKeydown` to prevent the typing of non-numeric characters. This means the `change` doesn't get triggered for the character hence should be skipped when dispatching the `change`-event later one

I am only experiencing something weird with running unit tests... separately th

[2018-10-21 13:38] Gpx opened #30 "Add contributors"

[2018-10-21 13:39] Gpx opened #31 "Check type with special characters"
`userEvent.type` writes text correctly. But I'm not sure how it behaves with special characters like `è` or 👍 .

It would be good to have tests covering these cases

[2018-10-21 13:39] Gpx commented on #25
I'm closing this then. Thanks, @weyert for working on it and @sompylasar for noticing the problem

[2018-10-21 13:39] #25 closed

[2018-10-21 14:00] #30 closed

[2018-10-21 17:50] weyert commented on #31
First of all thank you for merging my PR.

Yes, I have been thinking about this today. I think the behaviour of entering special character differ per language of keyboard being used. Do we just want to restrict this to the probably most used American keyboard?

Beside of that do we want to enter capital letters correctly too? E.g. Shift + Letter? What about the enter key for a \n?

[2018-10-23 07:14] Gpx commented on #31
That's a good point. I think supporting every possible keyboard layout out there is too much work and out of the scope of this project. I would just assume that if a character is typed, it's because it was somewhere on the keyboard. That includes uppercase letters.

Cypress has support for special characters like enter. We could think to do the same https://docs.cypress.io/api/commands/type.html#A

[2018-10-25 00:38] weyert commented on #31
While looking into a `react-testing-library` issue I discovered this package https://github.com/eventualbuddha/keysim.js . Maybe it's interesting to leverage for the `type`-behaviour?

[2018-10-25 07:16] Gpx commented on #31
The thing is this library is based on `fireEvent`, I don't know how that would fit with keysim

[2018-10-25 13:47] weyert commented on #31
Yeah, that's a good point. Maybe I borrow some ideas from that library :)

[2018-12-04 02:19] weyert commented on #31
Sorry, I haven't had a need yet to support special characters. I might consider with adding support {backspace} / {ctrl} {meta} etc first. I will have a closer look at how it works in Cypress again.

[2019-04-11 05:43] deadnight7 opened #95 "Question - Support for drag and drop and advanced actions"
Hi Giorgio / Team,

Need to know whether do we have any support for advanced user interactions like
- drag-drop,
- Mouse Hover,
- Click and hold
just like we have in Selenium WebDriver's [Actions Class](https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/interactions/Actions.java),

If yes - Can you please point me to correct documentation reference?

[2019-04-11 07:48] Gpx commented on #95
Hi, no there's no support for those actions. I don't think we can implement them either except for click and hold. RTL tests run on top of jsdom, as a consequence, all elements have not width or height making it impossible to handle mouse events correctly.

If you need to test these kinds of events correctly I think you should stick with Selenium or Cypress.

[2019-04-11 10:50] cpandit201 commented on #95
Thank you for updating.

[2019-04-11 12:21] Gpx commented on #95
I'm going to close this issue for now but feel free to add comments to it

[2019-04-11 12:21] #95 closed

[2019-04-11 20:41] twhitbeck opened #96 "Disabled checkbox click still fires `onChange`"
this PR on `react-testing-library` was an attempt to address this problem:
https://github.com/kentcdodds/dom-testing-library/pull/217

but it was closed in favor of addressing in this library. From what I can tell, it has not been addressed in this library. In my test, I'm still seeing the `onChange` handler being called for an `<input type="checkbox" disabled />` when I call `userEvent.click(chec

[2019-04-12 07:59] Gpx commented on #96
Hi, I will try to take a look at this one in the following days

[2019-04-12 11:53] twhitbeck commented on #96
It looks to me like `click` events do not fire on checkboxes that are disabled when they are clicked.

https://codepen.io/anon/pen/ZZyqoX

Is it as simple as checking `!checkbox.disabled` before running any of the code in this fn:
https://github.com/Gpx/user-event/blob/master/src/index.js#L34

[2019-04-12 11:57] twhitbeck commented on #96
and just to confirm, I checked React's handling of clicking a disabled checkbox.

https://codesandbox.io/s/m788qlylkx

`onChange` does _not_ fire when the `disabled` checkbox is clicked

[2019-04-17 20:30] Dhalton commented on #96
I'd also like to bring up the fact that this also happens for a radio button input that is disabled. I see that there is a PR to fix this issue for checkboxes, but it doesn't look like it will fix the problem for radio buttons. If you need me to open a separate issue for that, just let me know. Thanks!

[2019-04-18 09:28] #96 closed

[2019-04-18 09:30] Gpx commented on #96
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/user-event)
- [GitHub release](https://github.com/Gpx/user-event/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-18 09:32] Gpx commented on #96
@Dhalton you're right the solution should be similar, would you like to work on it?

[2019-04-18 21:37] Dhalton commented on #96
@Gpx I'll take a crack at it, sure. 😄

[2019-04-25 17:32] Dhalton commented on #96
@Gpx
Got a PR to handle this for radio buttons as well. Sorry for the wait, I've been busy! 😃
#107

[2019-04-25 19:16] kentcdodds opened #108 "Invitation to move to testing-library org"
It's up to you, but if you'd like, you're welcome to transfer this repository to the [testing-library organization on GitHub](https://github.com/testing-library). This will give your project more credibility as part of the testing-library family of projects with a unified mission of tools which help people avoid testing implementation details.

Again, totally up to you. I just want you to know we

[2019-04-27 14:03] Gpx commented on #108
It looks like, I've decided to go on vacation on the wrong week 😂

I don't feel too confident moving the repo from my phone with my hotel WiFi but I will definitely do so as soon as I'm back.

I'm really happy with the latest development in testing-library and can't wait to see new frameworks adopting the same philosophy.

Thank you for all the hard work Kent and all the other contributors!

[2019-04-27 14:04] kentcdodds commented on #108
Sounds good! Enjoy your vacation!

[2019-05-02 11:42] joshpitzalis opened #112 "A way to specifically trigger the `onPressEnter` event?"

[2019-05-09 10:51] Gpx commented on #112
I think this might be related to #31

[2019-05-09 12:30] Gpx commented on #108
Done 🎉

[2019-05-09 12:30] #108 closed

[2019-05-13 17:02] afontcu opened #119 ".type doesn't work with vue-testing-library"
Hi! First of all, thank you for your work on this repo!

I wanted to highlight that the current implementation of `.type()` isn't working when used with `vue-testing-library`.

Not quite sure why yet thou, I believe it has something to do with using `fireEvent.change` instead of `fireEvent.input` [here](https://github.com/testing-library/user-event/blob/master/src/index.js#L166). I have passing te

[2019-05-15 10:11] Gpx commented on #119
Hi, `user-event` is only tested with React at the moment for the simple reason that it's what I use at work. I would be keen to add tests that cover other frameworks.

I think the difference between `input` and `change` is that in React you have two separate handlers for them: `onInput` and `onChange`. I also never seen anyone using `onInput`.

I don't really know how it works in Vue-land. Is it p

[2019-05-15 11:16] afontcu commented on #119
Hi! Thanks for answering.

Vue also maps native events such as Input and Change. However, `input` is the most widely used in Vue world. It is even used in the built-in [v-model](https://vuejs.org/v2/guide/forms.html) feature, which is just syntax sugar to create a two-way binding of an input value.

Main difference (AFAIK) is that change event triggers when the element has finished changing (when

[2019-05-17 08:48] Gpx commented on #119
Since we're trying to simulate a browser I think we should fire both events instead of replacing it.
Right now `type` is firing `keydown -> change -> keyup`. We should change it to be `keydown -> input -> change -> keyup`

[2019-05-17 09:11] afontcu commented on #119
AFAIK (and correct me if I'm wrong), `change` should only be emitted _after_ moving away from the input.

If that's the case, would it make sense send an `input` event for every char, and then send a `change` event with the whole string?

`keydown`
`input "h"`
`keyup`
`keydown`
`input "i"`
`keyup`
`change "hi"`

[2019-05-17 09:28] Gpx commented on #119
That's what happens for native HTML but not in React. I think in React `change` and `input` are behaving the same except React will fire both of them

[2019-05-17 09:36] afontcu commented on #119
Oh wow you're right, I didn't know that, thanks.

I feel Vue works similary to native HTML (see [demo](https://codesandbox.io/embed/o1j015y5p5)) so yeah, so a `input` event would do the trick :)

I'll happily submit a PR if you feel that that's the apropiate change (no pun intended).

[2019-05-17 13:59] Gpx commented on #119
You man a PR to replace the vent or to add it?

[2019-05-28 18:53] afontcu commented on #119
_(sorry for the late response!)_

Whatever works best in both frameworks. I guess we could add it, so the workflow would be `keydown -> input -> change -> keyup`.

[2019-05-30 10:03] #112 closed

[2019-06-02 05:50] michaellasky opened #123 "Ability to interact with <select multiple> tags"
Moving https://github.com/testing-library/react-testing-library/issues/375 over to the proper place.

I still plan to take a crack at an implementation.  Will submit a pull request for review when I can, unless someone else gets to it first.

[2019-06-06 07:11] michaellasky commented on #123
#126

Added Draft Pull request with a basic proposed implementation

[2019-06-06 07:43] Gpx commented on #119
Do you think you could add tests for Vue? Basically, porting the ones we have but render Vue components instead of React. I think we need to have those in place before we start thinking about cross-library support

[2019-06-06 07:44] Gpx commented on #123
Thanks!

[2019-06-06 08:40] afontcu commented on #119
Makes total sense! Will work on that :)

[2019-06-06 09:59] Gpx commented on #119
Thank you 👍

[2019-06-06 14:24] tgandrews opened #128 "Error thrown when using react hooks"
### Description
Given a react component using hooks
When a you attempt to use a user event e.g. type
Then you receive the error below
[code]

### Reason
As far as I understand this is because we are using the `fireEvent` from `@testing-library/dom` directly and not from `@testing-library/react` which means that it is not being in `act`.

### Solution
A possible solution would be to allow for the u

[2019-06-07 08:34] Gpx commented on #128
I'm waiting for https://github.com/testing-library/react-testing-library/issues/281 to be closed to decided what to do here. Also, following #119 we might add support to Vue which would prevent us from importing from `@testing-library/react`.

For now, I prefer not to address this issue, but it's something I want to get solved in the near future.

Thanks for bringing it up!

[2019-06-07 08:51] tgandrews commented on #128
Yes, I agree adding a direct dependency on react-testing-library is not a good solution.

Would it be possible to expose an API to configure it? Similar to how enzyme exposes a way of defining the react version adapter. So I could set this up once and the tests wouldn't have to care.

[2019-06-07 09:17] Gpx commented on #128
I'd rather not have any configuration if possible. I prefer to wait for the two issues I mention to be resolved before doing anything here

[2019-07-04 22:34] calebeby opened #135 "Allow for non-fixed version of @testing-library/dom"
Hi, thanks for this package, it's pretty awesome :eyes: :tada:

I was wondering if the `package.json` could be updated to have a semver _range_ for the `@testing-library/dom` dependency, rather than a fixed version: https://github.com/testing-library/user-event/blob/master/package.json#L56

Suggestion:

[code]

This way I don't have to have multiple versions of `@testing-library/dom` installed, an

[2019-07-05 00:01] calebeby commented on #119
Can I open a PR to add this? It doesn't look like anyone else got to it yet :eyes:

[2019-07-05 06:29] afontcu commented on #119
Hi @calebeby! As @Gpx suggested, I opened a (draft) PR to add Vue tests #129 to `user-event`, which will create a solid starting point to develop cross-library features :)

[2019-07-05 06:55] calebeby commented on #119
@afontcu Awesome! I have local changes that make the `input` and `change` events fire like they do when a user types, so I'll pull in your new tests soon!

I might also add tests for vanilla JS. I'm using Preact, which, unlike React, actually adds a `change` event listener when you use `onChange`. So AFAIK Preact will work the same as Vue does :heavy_check_mark:

LOL I missed this line while I was

[2019-07-05 08:04] Gpx commented on #135
I wonder if peer dependencies would fix this. @kentcdodds any idea?

[2019-07-05 12:21] kentcdodds commented on #135
I think that would make a lot of sense.

[2019-07-05 12:36] Gpx commented on #135
Ok, I've never done it so I need to take a look at the documentation first. Unless @calebeby wants to give it a try

[2019-07-05 15:44] calebeby commented on #135
Happy to!

[2019-07-16 21:57] parkerziegler opened #140 "Include typings folder in npm publish."
Thanks for a helpful lib! It appears that the typings folder is not actually making it to `npm`, so the TS support isn't working. You can see that the `typings` folder isn't there by checking it out on `runpkg`: https://runpkg.com/?@testing-library/user-event@4.1.0/dist/index.js. Compare this to say, `@testing-library/react`, whose `typings` folder _is_ published to `npm`: https://runpkg.com/?@tes

[2019-07-19 03:05] mxstbr commented on #119
@calebeby I am also using Preact, any chance that PR is somewhere? :pray:

[2019-07-19 03:23] calebeby commented on #119
@Gpx do you think you could review [my 4 open PR's](https://github.com/testing-library/user-event/pulls?utf8=%E2%9C%93&q=is%3Aboth+is%3Apr+author%3Acalebeby+sort%3Aupdated-desc) pretty soon? I'd love to continue moving forward with making `user-event` compatible with all libraries :tada:

@mxstbr Opened PR for that just now :heavy_check_mark: https://github.com/testing-library/user-event/pull/141

[2019-07-20 08:57] #135 closed

[2019-07-20 09:17] Gpx commented on #135
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/user-event)
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-20 13:33] Gpx commented on #140
Hi there. I'm actually not the one maintaining the types. They are published from https://github.com/DefinitelyTyped/DefinitelyTyped. I have nothing against migrating the code to TS and export types directly from here.

Would you be interested in doing the porting?

[2019-07-20 19:47] calebeby commented on #140
@Gpx Why are the typings both in this folder in this repo: https://github.com/testing-library/user-event/blob/master/typings/index.d.ts as well as on DefinitelyTyped?
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/testing-library__user-event

[2019-07-22 16:26] jackgeek opened #149 "React onChange handler not called when type is used"
Problem:
The type method does not cause the React onChange handler to be called.

This can be seen in this sandbox: https://codesandbox.io/s/zealous-sanderson-zqrg5?fontsize=14&module=%2Fsrc%2F__tests__%2FtypeTestThatFails.test.js&previewwindow=tests

Expected behaviour:
The onChange handler on the element being typed into is fired.

Potential solution:
I have managed to work around this using the

[2019-07-22 16:31] jackgeek commented on #149
Happy to do a PR to add the react-trigger-change module but that module is quite old and hasn't been updated.  Not sure if you want to introduce it to your project?

[2019-07-22 21:30] parkerziegler commented on #140
@Gpx I agree with @calebeby above. It's totally fine if the types are maintained on DefinitelyTyped! There's also no need to port the entire lib to TS. It's more that folks' tend to _either_ ship types directly with their lib _or_ rely on the types on DefinitelyTyped. In this case, you have the types in source here, but don't ship them along with the lib, and _also_ rely on DefinitelyTyped. It'd b

[2019-07-22 21:31] calebeby commented on #140
You are right that there is no need, but if @Gpx is onboard with this I'm willing to do it

[2019-07-23 08:04] Gpx commented on #140
😆 I actually forgot we added types in here.
I think it makes more sense if we maintain the types in here, it's probably going to be easier to maintain.

I would start with exporting the file we currently have and making sure it's up-to-date.

Does it make sense?

[2019-07-23 08:18] Gpx commented on #149
I think you might have another error. I tried your exact code in my machine and it works. We actually have a very similar test in our codebase too https://github.com/testing-library/user-event/blob/master/__tests__/react/type.js#L9-L21

I know codesandbox sometimes doesn't play nicely with RTL, could that be the issue?

[2019-07-23 09:06] jackgeek commented on #149
I originally encountered the problem in testing my company's app.  I re-created the issue on code-sandbox.

I'll take a look at that test to see if I can see anything different.

[2019-07-23 09:08] jackgeek commented on #149
I should say that we are using React 15.4.1.  We are in the process of upgrading to React 16.  I will upgrade the code sandbox and see if it still occurs with latest React

[2019-07-23 09:35] jackgeek commented on #149
OK I can confirm it is working with the latest version of React:

https://codesandbox.io/s/youthful-wiles-r3ybv

Appears to be just an issue with React 15.4.1.

We have a working work around and we are upgrading soon so please feel free to close this ticket.

Sorry to bother!

[2019-07-23 09:35] #149 closed

[2019-07-24 14:00] roy-bakker-new10 opened #152 "When typing in a disabled input onChange is still called"
Test:
[code]
I expect this test to succeed but it isn't.

Output:
[code]

[2019-07-28 22:20] weyert commented on #152
Yes, at the moment we don't really check whether the input field is disabled or not.

[2019-07-31 16:06] afontcu commented on #123
I believe this issue can be closed thanks to #130?

[2019-08-01 11:37] Elecweb commented on #152
It's also happened in `readOnly` as well

[2019-08-02 14:42] afontcu opened #591 "maxlength attribute is ignored"
(Source: [how to test input maxlength attribute](https://spectrum.chat/testing-library/help-react/how-to-test-input-maxlength-attribute~96beb2fe-9ba0-4246-9d81-df188ec74caa)).

---

- `dom-testing-library` version: 5.6.1
- `react` version: -
- `node` version: 10.16
- `npm` version: 6.9

### Relevant code or config:

[code]

### What happened:

Expected the test above to pass.

[code]

This might b

[2019-08-03 14:06] timdeschryver opened #154 "`selectOptions` with Angular"
👋 first of all, great idea to create this library!

I recently found out about this library and was looking to use it with the Angular testing library.
To be able to do that I had to wrap the user events with some angular logic (has to do with the Angular change detection), so now I'm exposing these wrapped user events via the `render` function. But there's a problem with `selectOptions`. To work

[2019-08-09 20:00] diego-codes opened #156 "Include method of simulating tabbing through"
I don't know if this is the best place to address this request, but I would love to have a way to simulate a user tabbing through an interface. This type of event would be helpful for testing [the keyboard focus behavior of dialogs](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/dialog_role#Required_JavaScript_features) for example.

This type of event allows for slightly be

[2019-08-12 16:13] weyert commented on #140
I think you changed on this opinion? After noticing the change in the react / dom package? Where are removing it?

[2019-08-12 16:55] weyert commented on #156
I have been thinking this might be easier to handle in Cypress with the tab plugin: https://github.com/Bkucera/cypress-plugin-tab

[2019-08-15 08:58] Gpx commented on #123
Yep, thanks @michaellasky and @afontcu

[2019-08-15 08:59] #123 closed

[2019-08-15 10:11] Gpx commented on #156
This is a really big feature, IMO. I don't think I want to implement it in user-event. First, tabbing is implemented by the browser so your tests would have to test the browser's behavior rather than your component's. Second I see some edge cases, for example, if you test a component in isolation it might work in a certain way but when it's rendered along with other components that include `tabInd

[2019-08-15 10:11] #156 closed

[2019-08-15 10:22] Gpx commented on #140
Let's see how the discussion on https://github.com/testing-library/react-testing-library/pull/437 goes

[2019-08-18 17:00] timdeschryver commented on #154
Fyi, I went ahead and implemented the `user-events` in the angular testing library. This, to be able to call Angular's change detection with each user action.

https://github.com/testing-library/angular-testing-library/pull/37

[2019-08-18 17:00] #154 closed

[2019-08-20 09:06] Gpx commented on #154
Hey, I think I missed the notification for this issue. It probably makes sense to implement it there. In the long run, this project should be included with the other main libraries too.

[2019-08-21 16:46] timdeschryver commented on #154
👍 Thanks for the feedback @Gpx !
I'll implement them in the Angular library, and stick to the current API (or as close as possible)

[2019-08-23 10:41] pietmichal commented on #128
How about dividing user-event into multiple flavours? e.g. `user-event-react`, `user-event-vue`, `user-event-dom` etc.?

[2019-08-23 10:47] pietmichal commented on #128
@Gpx, testing-library/react-testing-library#281 has been closed.

[2019-08-23 10:58] pietmichal opened #157 "userEvent.type should provide valueAsNumber and valueAsDate properties."
When using `userEvent.type` on any input, it receives `value` property but `valueAsNumber` and `valueAsDate` are undefined while accessed.

When running the code in the browser, these properties are defined.

spec: https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement

[2019-08-23 21:38] weyert commented on #157
Hmm, never even knew these properties exist. I assume they got introduced when the new special input types got added to the spec?

More details: https://html.spec.whatwg.org/multipage/input.html#dom-input-valueasnumber

Feel free to make a PR for it :)

[2019-08-24 23:23] calebeby commented on #128
I think now is a good time to reconsider this.

React testing library and Vue testing library both expose their own customized versions of `fireEvent` that integrate with their libraries to ensure that updates get flushed.

@Gpx would you consider an API like this?

[code]

[code]

cc @kentcdodds @afontcu

[2019-08-26 17:07] afontcu commented on #128
I believe there are three (main) paths here. Some food for thought:

1. Keep `user-event` as is, trying to provide as much compatibility to different frameworks as possible. They are not _that_ different after all.
2. As @calebeby suggested, provide a way for RTL/VTL/ATL and others to integrate their own `fireEvent` version into `user-event`.
3. Bundle `user-event`  with DOM Testing Library. DTL h

[2019-08-27 09:11] Gpx commented on #128
That's what I noticed too. I'm not sure we should do anything in this issue unless someone can provide an example of a test that would be fixed by wrapping `fireEvent` into `act`. Once we have that we can consider our alternative. I personally like @calebeby's API.

[2019-08-27 09:15] Gpx commented on #157
Not sure that's the responsibility of `user-event`. If I understand it correctly you read those from the `input`. I think it's something jsdom should implement.

[2019-08-27 10:00] Gpx commented on #154
Hey, we just merged #158 which I think might solve this issue. Do you mind taking a look at it?

[2019-08-27 11:31] timdeschryver commented on #154
I haven't verified it, but this seems like it would solve the issue.
I'll continue to implement the function myself in the angular library (in the next coming week) with the implementation from the referenced PR.

I think I will continue to implement the events myself, to be able to fire Angular's change detection on every fired event.

[2019-08-27 15:28] #152 closed

[2019-08-27 15:30] Gpx commented on #152
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/user-event)
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-27 16:21] afontcu opened #161 "should type be constrained by maxLength?"
Is `maxLength` an attribute `user-event` should take into account?

If so, the following test should pass:

[code]

I'll be happy to implement it if you think it makes sense.

[2019-08-27 16:23] afontcu commented on #119
I guess this can be closed now :)

[2019-08-27 16:23] #119 closed

[2019-08-27 16:29] afontcu commented on #161
As far as I can tell, both are failing ("hello world!" is 13 characters long, so event is being fired 13 times).

[2019-08-27 21:59] weyert commented on #157
Well, aren't we creating our own events in the `type`-method via `fireEvent` so we would need to populate not only `value` but also these two?

See: https://github.com/testing-library/user-event/blob/e1c4c1a51cc76fb78f3f3f1f5cf62f9d082b86d1/src/index.js#L211

[2019-08-28 14:43] Gpx commented on #157
Yeah, but what I'm saying—unless I got it wrong—those properties are coming from the `<input>` not from the event. Am I wrong?

[2019-08-28 16:35] weyert commented on #157
Yes, you might be right. Looks like it’s not supported by Jason. Can’t find it in the IDL files

[2019-08-29 17:58] timdeschryver commented on #154
@Gpx I'm currently tried it in Angular, and for us it's not enough to just fire the event, we also have to provide the target's value:

[code]

[2019-08-29 18:40] timdeschryver commented on #154
You can completely ignore the above comment, it does work.

[2019-08-29 20:04] timdeschryver commented on #154
I did the implementation for Angular, but I deviated from the the implementation without knowing it.

Instead of selection the options based on the value (`valArray.includes(opt.value)`), I used the `getByText` queries to select the option. Is there a a specific reason to use the option's value, and should I change my implementation?

While implementing it, I think I also found a bug with a multip

[2019-08-30 16:44] weyert commented on #157
Not sure, how to progress. Raise a ticket with jsdom?

[2019-08-31 11:01] drpicox opened #163 "userEvent.type does not triggers React onChange when the input has type"
This might be related to #149

I am not sure if it is a problem of React, of jsdom, or there is one step wrong.
Given the following pseudo-code:

[code]

The `userEvent.type(inputWithoutType, 'hello')` triggers `onChangeWithoutType`. ✅
The `userEvent.type(inputWithType, 'hello')` does not trigger `onChangeWithType`. ❌

You can find an example at:
- [https://codesandbox.io/s/userevent-type--input-t

[2019-08-31 16:08] drpicox commented on #163
Ops!

I was wrong, it is `type="text"`, not ~´type="string"`~.
Fixed!

Thanks for this amazing library!

[2019-08-31 16:08] #163 closed

[2019-09-13 15:08] benmonro opened #167 "userEvent.tab"
Add the ability to simulate a user tabbing through a UI for RTL: `userEvent.tab(direction)`

more of a question to see if you guys would be open to me opening a PR for `userEvent.tab`
from what I've read in threads on RTL and JSDOM, the ability to tab is not really supported by JSDOM.  However, I came up with a working solution that simulates tabbing.  I'd love to open a PR and contribute here, bu

[2019-09-13 16:19] alexkrolick commented on #167
Would this be like click where it takes a target element? So it would be like "press tab as many times as needed to get from the current focus to the target"?

[2019-09-13 18:26] benmonro commented on #167
my thought is that this would just be a generic tab key event.  My first pass (not accounting for direction) will be based on this code (though I will add more to it for the purposes of `user-event`)

[code]

[2019-09-15 23:11] weyert commented on #161
Yes, the type-helper method doesn't check the `maxLength`-attribute this time. Personally, I have more issues with the lack of diacritics support or special characters like {tab} or {shift} etc. I hope I need this requirement soon at work so I can work on it. Only it is a bit problematic because of all the different keyboard layouts available throughout the world.

[2019-09-18 01:42] kylemh opened #171 "Typings are out of date"
https://github.com/testing-library/user-event/blob/master/typings/index.d.ts hasn't been updated in 3 months and doesn't include `selectOptions` for instance

[2019-09-19 10:45] kernel72 opened #172 "Emulation of 'Backspace' and other non alphanumeric buttons pressing."
Hi, guys!

I have a next question, which has come during usage of this cool library.
I have to simulate a user's "Backspace" button pressing and could not find how to do it with this library.
Unfortunately, the native `testing-library` `fireEvent` is not works for me, because I have an input which filters pressed keys in `onKeyDown` event handler and it also has `onChange` event handler which make

[2019-09-24 01:25] benmonro commented on #167
@alexkrolick would love to get some feedback on my PR.  So you think it can be merged?

[2019-09-24 15:08] #157 closed

[2019-09-24 15:31] Gpx commented on #172
Hi! I think this might be related to #31 which deals with adding support for all kinds of special characters.

[2019-09-24 17:12] benmonro commented on #167
@gpx I didn't see that, thanks for getting back tome.

I believe it's important to support a11y for keyboard only users. I live by the guiding principle of testing library:

since KB only users will tab through elements in your pages/components, I'm of the opinion that writing tests in this way is very important.

The implementation I put together in #169 is working for us at Walmart Labs.  Would

[2019-09-24 17:14] alexkrolick commented on #167
@benmunro I don't have too much context on this codebase. The implementation seems good to me.

To @Gpx's point, I am not sure on the scope of user-event. The closest thing is probably PhantomJS (discontinued 2018), which did have the goal of emulating browser behavior for user interactions rather than plain event model of jsdom: https://phantomjs.org/api/webpage/method/send-event.html

So I think

[2019-09-24 17:34] benmonro commented on #167
@alexkrolick I did consider handling this like other key events, but there was one problem I ran into which was that the other events require an element as their 1st parameter, but I wanted to differentiate this event from those for 2 reasons.  1)  when there is no element focused, it doesn't make sense to give it a target, as the user doesn't do that either.  2) This way when entering a tab chara

[2019-09-24 17:38] alexkrolick commented on #167
I think the target would be `document.activeElement`

Isn't that a common source of focus traps? Can you still test that you don't have focus traps when the input bypasses the field?

[2019-09-24 17:47] benmonro commented on #167
fair points/questions.
I could try and play with integrating it w/ the keypress events and see how it shakes out w/ `document.activeElement`

I can also try a test w/ a focus trap.

If I do that can we merge? Not wanting to go through that if those issues get addressed and we end up not merging. :)

[2019-09-24 18:21] alexkrolick commented on #167
@Gpx @kentcdodds ?

[2019-09-24 18:22] kentcdodds commented on #167
I'd love for this to work. I'm unsure whether it can be implemented correctly, but if it can then I think it'd be a great addition.

[2019-09-24 18:29] benmonro commented on #167
@kentcdodds would love to hear more details on your concerns/thoughts around doing it correctly. anything beyond the current implementation (in #169) + proposed changes to make it part of the keyPress events / support focus traps?

[2019-09-24 19:09] weyert commented on #161
Sounds good to me. I can work on something tomorrow at work

[2019-09-24 22:37] kylemh commented on #171
I'm blind 😭😂 - they are there, idk how I didn't see them.

[2019-09-24 22:37] #171 closed

[2019-09-26 20:59] kentcdodds commented on #167
I seem to recall that Cypress doesn't support `tab` because it's "really hard to get right" or something. I know those folks are smart so I just assumed they knew more than I do and that it would be hard to get right.

[2019-09-30 08:04] Gpx commented on #167
Just released 🎉

[2019-09-30 08:04] #167 closed

[2019-10-03 15:35] patricklafrance opened #176 "click sequence of events is different than browsers"
I believe the sequence of events for click (and dblClick) is different that the one in browsers.

With this jsfiddle: https://jsfiddle.net/3r9oczkg/

We can see by:

1- focusing in the input
2- click on item 2

That after clicking on item 2 the blur / focus sequence is:

1- input blur
2- item 2 focus
3- item 2 click

Which means that the focusedElement blur event should happen BEFORE the item 2 fo

[2019-10-03 15:39] patricklafrance opened #177 "click should also trigger focusin and focusout"
It would be awesome if click (and dblClick) also support `focusin` and `focusout`.

Event if they are not currently part of React: https://github.com/facebook/react/issues/6410

You can still use it with document.addEventListener.

Calling `focusin` right after `element.focus()` and `focusout` right after `fireEvent.blur(focusedElement)` seems to work well.

Thank you,

Patrick

[2019-10-03 16:39] lothisoft opened #178 "Typing in an input or textarea element should make it the element the activeElement."
An input or textarea element becomes the activeElement of the document (gets the input focus) when a user types into the field.

Currently, after the type function executes on an active element, document.activeElement still points to document.body and the onFocus handler is not called.

[2019-10-04 22:11] weyert commented on #161
Woops, got sidetracked by a hackaton at work. I will pick this up on Monday :)

[2019-10-09 20:35] patricklafrance opened #179 "Support "enter" keydown on button"
In a browser, enter keydown trigger the click event of the button.

It would be nice if the user-event library support this behavior.

You can test the browser behavior here: https://codesandbox.io/s/jovial-glitter-jy883?from-embed

A naive implementation would be to add a `keyDown` function to user-event:

[code]

Thank you,

Patrick

[2019-10-13 10:47] malcolm-kee opened #180 "Support for unselect options?"
`selectOptions` currently force `selected` to `true` as per coded at [here](https://github.com/testing-library/user-event/blob/master/src/index.js#L90).

Does it make sense to support `toggleOptions` so we can test for unselect as well?

Let me know if you need a hand.

[2019-10-16 22:22] hatched-danny commented on #31
Hi, is there any progress on this? What have people been doing to simulate enter key presses if `    userEvent.type(textArea, "Testing!{enter}");` doesn't work?

[2019-10-27 17:22] BenjaminBellamyJG opened #181 "Simulate keyboard shortcuts"
Not sure if in this packages domain, but simulating shortcuts or hotkeys using this libary abstracting to something like `userEvent.shortcut('ctrl+c')` `userEvent.shortcut('ctrl+alt+enter')`

[2019-10-28 03:42] marquesm91 opened #182 "userEvent.type not changing when is a empty string"
I am experimenting this lib and may reached a possible bug. I have been writting a test for `Input` to check if erases it correctly and found something interesting.

[code]
When you use `userEvent.type` without `{ allAtOnce: true }` on this case, the `Input` value will not get any updates. Looking at the `type` implementation I could identify what is possible wrong.

[code]
If this is a real bug,

[2019-11-10 02:38] nickmccurdy opened #183 "Merge into testing libraries and recommend over fireEvent"
Now that this package is mentioned in the testing library docs, it would be nice to expand it enough to be recommended over `fireEvent` in most cases and include it in the original packages. We should think about what common user interactions are missing that are tricky to implement with `fireEvent`. Other testing tools like Cypress could be good inspiration.

[2019-11-10 15:49] weyert commented on #182
Hmm, yeah, guess, an empty string is a specific case as there isn't really anything to type.
Would you expect to happen in this case? Do you expect backspace's to be triggered and then one character getting removed each time? Or do you expect a Select All + Backspace to remove the contents of the input field?

But yes, I can understand that `allAtOnce` will fix this issue :)

[2019-11-10 15:59] weyert commented on #179
Hmm, but here you aren't testing for the `enter`-key but now everything can trigger the click event?

[2019-11-10 17:25] nickmccurdy commented on #179
Does that work on all elements though? Or just form controls?

[2019-11-13 06:04] riotrah commented on #183
Agreed, user-level abstractions are key to testing-library

[2019-11-13 06:06] riotrah commented on #178
Agreed, mid-type focus should be testable, or at least configurable so that it doesn't blur on finish

[2019-11-13 14:01] weyert commented on #179
Good question, I would assume it's a typical button behaviour?

[2019-11-13 23:34] nickmccurdy commented on #179
I wrote a test and got some interesting results: https://codepen.io/nickmccurdy/pen/RwweGxG?editors=1010

To summarize, all buttons (using `<button>` or `<input type="some button type">`) except radio buttons fire click events when return is hit. Radio buttons only fire click events when space is hit.

[2019-11-19 00:54] weyert commented on #179
Okay, thanks for testing this @nickmccurdy!
Thinking now how to best way to implement this 🤔

[2019-11-21 17:50] Zeddox opened #186 "Right click"
Request for help on how to perform right click using this library or to have it added.

I'm writing tests against a component that uses the DetailsList component from [office-ui-fabric-react](https://github.com/OfficeDev/office-ui-fabric-react) and trying to have a right click register with the component. Using fireEvent does not work.

I had a similar issue trying to use fireEvent with a double c

[2019-11-21 21:26] Zeddox commented on #186
fireEvent.contextMenu does what I need.

[2019-11-21 21:26] #186 closed

[2019-11-24 08:15] freewind opened #187 "Select multiple options doesn't send correct values in “onChange” callback?"
I have a question (or found an issue?) about `userEvent.selectOptions`, and firstly asked in stackoverflow:

https://stackoverflow.com/questions/58948791/testing-with-testing-library-user-event-to-select-multiple-options-doesnt-send

But I can't get any answers there so I want to post it here for help. Thanks

[2019-11-26 13:13] mikeyshing88 commented on #187
I am facing the same issue - haven't found a solution as of yet neither

[2019-11-29 10:42] weyert commented on #182
Feel free to make a PR :)

[2019-11-29 20:46] wKovacs64 opened #188 "click() doesn't quite work for div role="radio""
First, thanks for this library - great abstraction.

I just tried to use the `userEvent.click()` function on a radio button that is implemented as `<div role="radio" />` (e.g. [`@palmerhq/radio-group`](https://github.com/palmerhq/radio-group#underlying-dom-structure)) and it didn't quite yield the same expected behavior as directly calling `fireEvent.click()`. I see the click logic currently looks

[2019-11-30 12:13] marquesm91 commented on #182
Hi @weyert ! I understand you and I think you are more than right.

`userEvent.type(input, '')` is more intuitive to think that you are not typing instead of erasing something.

Thinking about that I would like to introduce a new event called `erase`.

[code]

Using `erase` we can create all the correct interactions like what `type` is doing well.

What do you think about this?

[2019-12-01 15:35] weyert commented on #182
Sounds like a brilliant idea! I think this makes totally sense and feels to match the approach of this library (in my opinion). Typing and Erasing seems like a good combination.

I was thinking to write a helper `userEvent.shortcut("{ctrl}{alt}m")` to allow to type shortcuts easier. Not sure if it can be part of the `type` helper method.

[2019-12-02 09:49] marquesm91 commented on #182
Terrific ideia! Adding `erase` and `shortcut` will be possible to work better with userEvent abstractions!

I will start (maybe tonight) with `erase` to close this issue!

[2019-12-02 16:16] babramczyk commented on #128
I think there's a use case that still necessitates events to be wrapped in `act`.

If using a third-party library that triggers async logic that you have no method of `await`ing, the `act` warning seems to show up.

As a concrete example, I'm referring to the `validate` function of [react-hook-form](https://github.com/react-hook-form/react-hook-form). Since the state update that eventually occurs

[2019-12-05 12:40] yuritoledo opened #189 "Feat request: Add blur"
Just to add the `fireEvent.blur()`

:)

[2019-12-06 15:03] mdjastrzebski commented on #128
I have same issue of `act` warnings when using both user-event and [react-hook-form](https://github.com/react-hook-form/react-hook-form) with it's async form validation. The only workaround I've found is wrapping `userEvent.type()` with `act()` calls. I am not sure whether the issue is actually with user-event or react-hook-forms.

My general observation is that if I use `userEvent.type(input, 'so

[2019-12-08 04:57] kentcdodds commented on #128
If someone could make a codesandbox that shows two tests (one that wraps `userEvent.click` in `act` and the other that doesn't and shows the warning) that would be helpful :)

[2019-12-11 14:37] babramczyk commented on #189
Just to add onto this, here's a codesandbox that I would expect to work with this library, but doesn't because of lack of blur:

https://codesandbox.io/embed/headless-cloud-o3obp?fontsize=14&hidenavigation=1&previewwindow=tests&theme=dark

[2019-12-11 18:43] babramczyk opened #190 "Feat request: blur old element when performing an action that would focus a new one"
i.e., you're focused on an input and then you click a button -- right now, the input never blurs

[![Edit headless-cloud-o3obp](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/headless-cloud-o3obp?fontsize=14&hidenavigation=1&previewwindow=tests&theme=dark)

[2019-12-11 19:45] alavkx opened #191 "Entering a combination of valid and invalid characters in a number input returns an empty string"
I expect that if you type something like
[code]
in to a number input, `input.value` should equal "-1.0".
In this case, `input.value` equals `""`

[code]

[code]

[2019-12-16 15:52] chestozo commented on #190
+1 also was trying to get this behaviour
`fireEvent` from `@testing-library/react` is not providing it too

[2019-12-16 21:37] renanmav opened #195 "Type function isn’t awaiting"
Hi!

I'm trying to simulate a user typing with `userEvent.type` as follows:
[code]

but I'm getting this:

[code]

Any hints?

| Package                     | Version |
|-----------------------------|---------|
| @testing-library/jest-dom   | ^4.2.4  |
| @testing-library/react      | ^9.3.3  |
| @testing-library/user-event | 7.1.2   |

[2019-12-16 21:56] renanmav commented on #195
Doing the assertion this way solved the problem, so the `type` function isn’t awaiting.

[code]

[2019-12-18 17:34] maheshjag opened #198 "README needs to be updated for user-event"
The [`type`](https://github.com/testing-library/user-event#typeelement-text-options) method is [async](https://github.com/testing-library/user-event/blob/master/src/index.js#L176), but the documentation doesn't reflect it.

[2019-12-18 17:53] kentcdodds commented on #198
Thanks for the tip! Would you like to [make a pull request](http://makeapullrequest.com)?

[2019-12-19 12:23] maheshjag commented on #198
I tried to, but it looks like I don't have enough permissions on this project

[2019-12-19 14:14] kentcdodds commented on #198
You need to fork the project. You can watch that free video course I linked to to learn how to do that 👍

[2019-12-19 14:29] maheshjag commented on #198
Ah, okay! I usually branch off and then push the branch. Will do so when I get some time to spare.

[2019-12-20 09:09] #198 closed

[2019-12-20 09:11] Gpx commented on #198
:tada: This issue has been resolved in version 8.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/user-event)
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v8.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-22 17:58] weyert commented on #198
It's only async when you have set a delay though

[2019-12-23 07:11] weyert commented on #195
Try the following:
`await userEvent.type(startDateInput, ticketData.startDate, { allAtOnce: false});`

We are only doing an await when the `allAtOnce`-flag is set. I guess we could add faux wait(0) when this parameter is `true` to ensure a await is happening.

[2019-12-23 09:46] maheshjag commented on #198
@weyert The function is defined as async, so will always return a promise irrespective of whether or not a delay is specified.

[2019-12-24 19:58] jsphstls opened #203 "selectOptions by option content"
https://github.com/testing-library/user-event#selectoptionselement-values

Users do not interact with `<select/>` elements by the option `value` because it is not visible. Users typically select by the text content of each option that they can see.

This is possibly a separate issue, but the current example in the readme is unclear about whether the option content or the value is used to select be

[2020-01-07 16:16] benmonro opened #206 "arrow keys?"
for the life of me I can't seem to be able to fire an event for a keypress with arrow keys on a radio button, is this a problem in jsdom, or am I crazy?

[code]

[2020-01-07 16:16] benmonro opened #354 "arrow keys?"
for the life of me I can't seem to be able to fire an event for a keypress with arrow keys on a radio button, is this a problem in jsdom, or am I crazy?

[code]

[2020-01-07 22:26] benmonro opened #207 "tab with radio buttons"
just discovered an issue w/ `tab()`.  it does not account for radio buttons properly and needs to more closely resemble the browser in this respect.

[2020-01-10 09:47] Stuj1 commented on #206
Well firstly fireEvent is not part of the user-event library. It is because of issue with fireEvent for keyboard events that the user-event library was created. However, I'm not sure that user-event can simulate soft keys, which I think is a big omission.

I've found userEvent keyboard events work just fine:
`await wait(() => userEvent.type(input1, 'a'));`

Whereas fireEvents do not:
// await wait

[2020-01-11 05:18] benmonro commented on #206
Apologies I did mean user event

[2020-01-14 09:44] Stuj1 commented on #206
Ok, so there is no soft key support in user-event.

[2020-01-14 11:05] benmonro commented on #206
Do you think it should be?

[2020-01-14 23:55] diego-codes commented on #190
Is anyone working on this? I'd love to give it a try!

[2020-01-16 14:22] carlos-cne commented on #161
Here still not working.
[code]
If I'm doing wrong, please let me know the right way.

[2020-01-20 10:28] Stuj1 commented on #206
Hmm. It's currently pretty simple to use:
`userEvent.type(input1, 'a');`

So you might think you could easily provide an object for softkey interaction:
`userEvent.type(input1, { key: 'ArrowUp', which: 38, keyCode: 38 });`

However, the 'type' method also handles strings of multiple characters:
`userEvent.type(input1, 'apples');`

How would you include a soft key in this sequence? Perhaps if soft

[2020-01-20 13:48] jzarzeckis opened #209 "Tab action does not simulate focus/blur events"
In browser when you call `focus()` or `blur()` on an element programmatically, `focusin` or `focusout` events bubble from the focused/blurred element. However in jsdom they do not.

If the application logic depends on these events, would be appropriate to simulate these events too, when calling `userEvent.tab()`, so that it's possible to test such logic in jsdom too.

[2020-01-22 14:08] #209 closed

[2020-01-31 10:54] Belco90 commented on #183
To be honest, the way user-event handles the events is how I expected testing-library to handle them the first time I use it. I think this is a good idea.

[2020-02-06 21:52] wesbos opened #215 "userEvent.type() breaks with a number"
Not sure if this is a bug, or as intended, so feel free to close :)

I I just tried to do this:

[code]

Where price is a number. That throws the error `TypeError: text.slice is not a function`

running with toString() fixes that:

[code]

Since the browser would coerce to a string if we were setting a value, should this too? Or should I just always coerce it myself?

[2020-02-06 22:01] wesbos commented on #215
I also noticed getBy*() methods expect a string and break similarity - so maybe it's intended? A nicer error message would be good

[2020-02-11 14:46] duranmla commented on #31
There is no on going work related to support _"press enter"_ action? I will be happy to contribute if there is nothing in place yet, nevertheless, looks odd because it should be a very common usage case. Isn't? What does the people do now?

I have tried with:

[code]

And it doesn't work to trigger the submit of the form I have

[2020-02-11 17:52] galkn opened #217 "Issue with `.type` when maxlength property is not defined on input"
It seems that when the maxlength property is not defined on an input component, JS returns a value of -1 for it, which causes `computedText` to be incorrect (specifically the last character is consistently missing). Wondering if anyone else has observed this behavior?

[2020-02-17 13:38] Gpx commented on #190
This should be fixed in the latest version, please give it a try and feel free to comment in this issue if you find other errors

[2020-02-17 13:44] Gpx commented on #217
Can you provide a minimal reproducible example for this bug, please? That would help figure out the problem.
I'm going to close the issue meanwhile, feel free to comment

[2020-02-17 13:44] #217 closed

[2020-02-17 14:32] Gpx commented on #215
I'm not sure about this one, I think `type` should only accept a string. If you enter a number it's easy to convert it into a string if it's an integer but with floats it becomes more complex. Should `0.3` become `'0.3'` or `'0,3'`? The same problem applies to decimal separators.
I think it's better to leave these decisions to the person writing the tests.

I'm going to close the issue for now but

[2020-02-17 14:32] #215 closed

[2020-02-17 14:33] wesbos commented on #215
Makes sense! Thanks a lot

[2020-02-17 15:15] Gpx commented on #183
I think the end goal of this project is to be included in the testing libraries. For now, I don't think it's mature enough to replace `fireEvent`

[2020-02-17 15:19] Gpx commented on #177
This should be fixed in the latest version, please give it a try

[2020-02-17 15:19] #177 closed

[2020-02-17 15:19] Gpx commented on #176
This should be fixed in the latest version, please give it a try

[2020-02-17 15:19] #176 closed

[2020-02-17 15:22] Gpx commented on #180
This sounds like a reasonable use case. Do you want to take a stab at it?

[2020-02-18 15:37] Gpx commented on #181
It sounds like something we are going to need at some point. Do you want to try implementing it?

[2020-02-18 15:39] Gpx commented on #178
This looks like an easy fix, does anyone want to take it?

[2020-02-18 15:45] Gpx commented on #182
I'm going to close this, for now, feel free to propose a PR for `erase` 👍

[2020-02-18 15:45] #182 closed

[2020-02-18 15:46] Gpx commented on #189
Why do you need this if `fireEvent.blur()` exists?

I'm closing the issue but feel free to comment and we can reopen it we can come up with a good use case.

[2020-02-18 15:46] #189 closed

[2020-02-18 15:47] #195 closed

[2020-02-18 15:51] Gpx commented on #206
Probably related to #31
At some point, we will want to support things like `userEvent.type('hella{left_arrow}{delete}o')` but for now it's not possible

[2020-02-18 16:58] yuritoledo commented on #189
Hi,

I think should be good, all kind of interaction in only one package.
To avoid multiple imports

[2020-02-19 13:35] tjbfernandes opened #224 "UserEvent.type is firing Change Event when typing any character on an input with type number"
Giving this simple example:

https://codesandbox.io/s/stupefied-sun-06foz

when we type any none number key on the input the change event is not fired although when testing the element using:

`
userEvent.type(input, "abc");
`

the Change event is fired 3 times. I think is due to the fact that type is filtering read-only and disabled states but the input type isn't used to filter the onChange even

[2020-02-19 15:01] jamesonhill opened #225 "Click event should not blur prevElement if it is parent of current element"
I have a basic menu/dropdown use-case where clicking a button toggles showing & hiding a list of elements. If you click outside of the menu, the dropdown should also be hidden. In the contrived repro example below, I use the blur event to accomplish this.

Issue: Since userEvent blurs the previous element before clicking the current element, this causes a false negative in the test case when attem

[2020-02-19 15:57] tjbfernandes commented on #224
My bad, this was not related to userEvent.

[2020-02-19 15:57] #224 closed

[2020-02-20 01:19] babramczyk commented on #190
@Gpx Here is the same codesandbox with `@testing-library/user-event` v10, and it still fails

https://codesandbox.io/s/jolly-banach-eqinq?fontsize=14&hidenavigation=1&theme=dark

If you click the input first before typing, the blur is called twice.

If you don't click the input at all, the blur is never called at all.

[2020-02-20 13:00] foxbunny commented on #203
I think it would be more in line with the other methods to just do something like this:

[code]

[2020-02-20 18:52] MattyBalaam opened #226 "Document how to delete text with type method"
The change to the type event to append to existing values has broken our tests which are written expecting to replace existing values.

Is it possible to document how to clear/delete existing values? I tried using the `\b` character but this resulted in some very strange behavior (I imagine this is not being translated until the test reporting.)

[2020-02-20 22:15] jsphstls commented on #203
Are there any use cases for using an option selector other than `getByText` ?

[2020-02-20 22:20] foxbunny commented on #203
I've seen people use `data-testid`. Personally I prefer using `getByText()`, but I think being a bit explicit in this case gives you more options, perhaps?

[2020-02-21 07:40] MattyBalaam commented on #226
The only reliable way I have at the moment is to clear using fireEvent.

One other thing I tried was to use `userEvent.dblClick`to attempt to select all text.

[2020-02-24 04:34] malcolm-kee commented on #180
@Gpx  Sure. Will work on it.

[2020-02-24 21:08] benmonro commented on #206
@kentcdodds (or anyone else) do you ever test arrow key functionality w/ RTL at all?

[2020-02-25 04:47] kentcdodds commented on #206
I do with downshift using Cypress

[2020-02-25 04:48] kentcdodds commented on #206
Actually I think we do with jest too. It's been a few years since I can't remember 😅

[2020-02-25 04:49] benmonro commented on #206
Jest?!  If you happen to remember how I'd love to know. 🙌🏻😃

[2020-02-25 11:02] gautamkrishnar commented on #161
Working fine for me. I am using the version 8.1.0 of the user-event library.

[2020-02-25 13:27] malcolm-kee commented on #180
@Gpx I have some doubt on the desired behavior.

As a user, single-option select is not something that we can "unselect". Should `toggleOptions` used only for multiple select?

[2020-02-25 13:57] kentcdodds commented on #206
Here it is: https://github.com/downshift-js/downshift/blob/master/src/__tests__/downshift.get-input-props.js

[2020-02-25 14:01] benmonro commented on #206
Awesome thanks!

[2020-02-26 00:41] djalmaaraujo commented on #187
I am also facing this issue. Are you guys using a blank option? This is why. If you add a disabled attribute to the option with the `value=""` it will always get the value from the first `<option>` with a value.

But it's a valid bug.

[2020-02-26 10:48] bartgryszko commented on #226
A way this library is using in its own test files is by calling `input.value = '';`

https://github.com/testing-library/user-event/blob/38e3c227dd228c6ccc7624683eca3fae119a66e3/__tests__/react/type.js#L194

By calling that, you can basically simulate previous behavior.

If it's really important to test full user interaction, it would require writing custom `selectAll`/`clear` method I guess.

[2020-02-27 13:07] Raynos opened #229 "Using babel in a library is super annoying"
Trying to contribute / fork to this library, I ended up deleting all the babel and then doing a tiny replace on `import` and `export` to move it into commonJS.

Since this library is distributed on npm with normal commonJS in `dist/index.js` you could just change `import` / `export` to `require` and `module.exports` and remove the entire build step from this library.

This would make the life of y

[2020-03-02 11:44] foxbunny opened #230 "Typing does not work with contenteditable elements"
I'm on a project using user-event 8.1.0 and dom-testing-ibrary 6.12.2. When I use the `type()` function on an element with `contentEditable==true`, then the following error occurs in DTL:

[code]

From the source, I understand that `type()` is very specialized for handling normal input elements. I'm therefore not sure if it would be reasonable to look for workarounds for contenteditables here, or

[2020-03-04 22:51] CodingDive opened #232 "[feature request] type should support replacing the current input"
An option like `replaceExisting: boolean` for the `type` event would be neat. It should mimic selecting all the content of the input field (sort of like `ctrl+a`) and only then start inserting the input into the text field.

[2020-03-18 11:07] ivarprudnikov commented on #226
Slightly related #232

[2020-03-18 11:41] ivarprudnikov opened #236 "Input "selectionStart" is not used in `userEvent.type(input, "abc")`"
As mentioned in title changing `selectionStart` has no effect when using `userEvent.type(input, "foobar")`, eg:

[code]

**Important:** in the test case I use `react-scripts test --env=jsdom-sixteen` as `jsdom` had fixed `selectionStart` only recently https://github.com/jsdom/jsdom/issues/2787

Test case on codesandbox:
[![Edit Input selectionStart test](https://codesandbox.io/static/img/play-code

[2020-03-18 15:04] wilcoxmd commented on #236
With a quick look, I see two things:
1) You need to place

[code]
at the very top of your test file (above any imports) for jest to pick it up. However, that doesn't fix your tests breaking.

it seems like userEvent.type works by adding any newly typed text to the end of any previous text [relevant code](https://github.com/testing-library/user-event/blob/38e3c227dd228c6ccc7624683eca3fae119a66e3/sr

[2020-03-18 19:28] ivarprudnikov commented on #236
In code sandbox I've set my test script to be `react-scripts test --env=jsdom-sixteen`, otherwise it does not use it.

BTW I'm aware that values are appended and then `selectionStart` is set to whatever index is at the end but in my case I need to test the case when user prepends the text. By looking into the source I've seen that logic does not handle this case, does not check for `selectionStart

[2020-03-20 01:00] kkateli opened #237 "userEvent.click does not work on Material Table"
When I try to use userEvent.click to simulate click event on Material Table(https://github.com/mbrn/material-table), it gives me an error of "document.createRange is not a function". Please help.

[2020-03-20 05:28] wilcoxmd commented on #236
Sure I could see that being helpful.

Maybe you could work around it by firing keyboard events with ‘fireEvent’ instead?

[2020-03-20 23:12] ivarprudnikov commented on #236
Initially I played with `keyPress`, `keyDown`, `keyUp`, `change` separately with no success.

Confusing bit is that I'm not even sure what actually moves the cursor in Jest, do I need to fire all those events in sequence like implemented here in `async type(et, text, options)` method https://github.com/testing-library/user-event/blob/master/src/index.js#L178? With this in mind I thought that imple

[2020-03-21 00:06] ivarprudnikov commented on #236
Thought that simple change to `type` method would make it work but it does not. Above codesandbox example was extended to contain additional test with changed `type` method that checks `selectionStart` - but with no luck.

Seems that all those events (`keyDown`, `keyPress`, ...) do not really change `selectionStart` and this is more of an issue for `jsdom`.

[2020-03-21 03:56] wilcoxmd commented on #236
I'm still not sure that codesandbox is using the correct jsdom environment when it runs your tests. I have a local test running with `jsdom-sixteen` where the `selectionStart` value updates correctly while using the existing `type` method.

This is the test I'm running successfully:

[code]

That doesn't fix the behavior of respecting the existing selection start though.

I did have an idea of how

[2020-03-23 00:11] ivarprudnikov commented on #236
You are right, my over-reliance on Codesandbox confused a bit, but the gist is still same.

Correct, `selectionStart` changes when using `jsdom-sixteen`, but only to the end position. One cannot "prepend" text by just changing `selectionStart` before typing into field with a value.

In my humble opinion it should not be necessary as its a wrong location to implement it in. And even if it allows pa

[2020-03-23 15:24] wilcoxmd commented on #236
Yes it looks like the jsdom implementation does set `selectionStart` to the end of the value. I was not aware of that.

I did actually account for it within the `type` method when firing the input updates, so that the values update correctly and are not always set to the input length:

[code]

With this setup, things stay in sync while the typing is happening. It was perhaps confusing in my test a

[2020-03-23 17:39] ivarprudnikov commented on #236
Looks simple enough but not clear what `selectionStart` and `selectionEnd` do in the event `target`? AFAIK those are getters/setters for input. Apart from it this feels like replication of logic defined in [HTML spec](https://html.spec.whatwg.org/#textFieldSelection), specifically the logic of `setRangeText(replacement, start, end, selectMode)` method. Could we not use `input.setRangeText("x", sta

[2020-03-27 17:00] weyert commented on #236
Does the behaviour change when you set `allAtOnce` to `false`?

[2020-03-27 17:51] ivarprudnikov commented on #236
@weyert not really there is no real difference, in both cases `selectionStart`, `selectionEnd` is not used and text is appended to the end of existing value.

[2020-03-28 16:49] weyert commented on #236
Hmm, I just wished you could just sent the letter to jsdom and let it append it to the value but that doesn't seem possible. I am wondering how an actual browser deals with this though. How regarding the event flows? Does it call setRangeText somehow? Anyways I have been lately working on a new version of `type()`  but would be great to have this sorted before this new version.

[2020-04-03 09:11] eps1lon commented on #178
It's the other way around. The active element is the target of keyboard interactions which is why I don't think type() should focus but rather it should check that the target is `document.activeElement || document.body || document.documentElement`

-- https://w3c.github.io/uievents/#events-keyboard-event-order

Otherwise this tool might hide bugs in your implementation if you expect that a previou

[2020-04-03 21:31] kentcdodds commented on #178
Note: implementing this will be a breaking change.

[2020-04-04 05:24] NMinhNguyen commented on #178
Spoke to @eps1lon a bit about this on Twitter and I'm a little bit conflicted myself. On the one hand, currently user events like `click` and `tab` do focus the target element for you, and seems like Cypress' `type` [dispatches a click](https://docs.cypress.io/api/commands/type.html#When-element-is-not-in-focus) for you and additionally [supports `body`](https://docs.cypress.io/api/commands/type.h

[2020-04-06 19:25] kentcdodds commented on #178
I'm a fan of this approach. @doniyor2109, could you update your PR to handle this? I think it's the best of all trade-offs.

[2020-04-06 19:25] kentcdodds commented on #178
Specifically I think we should trigger a user click on the target and throw if the target is not focusable (unless it's body).

[2020-04-06 19:32] NMinhNguyen commented on #178
Would you like a comprehensive `isFocusable` check such as https://github.com/cypress-io/cypress/blob/ee494d04ee532edec41f227ced0c639b3db78f5c/packages/driver/src/dom/elements.ts#L499-L504 ?

[2020-04-06 21:37] kentcdodds commented on #178
Yeah, I think copy/pasting/modifying (and attributing) that logic would be great 👍

[2020-04-07 06:11] doniyor2109 commented on #178
@kentcdodds @NMinhNguyen I have triggered `click` on target however tests are failing. `onFocus` callback is not called and `activeElement` points to `body`.

https://github.com/testing-library/user-event/pull/231/files#diff-b5b36d5698a23d7f6cff3f2af7795257R220-R222

[2020-04-07 07:10] eps1lon commented on #178
What do we need this for? The DOM already has this built-in. If an element isn't focusable you can't focus it. The cypress logic was a source of very frustrating bugs and they were not able to reconcile it.

A click does not focus an element. Only certain platforms focus the element under the cursor on `mousedown`. I think macOS does not move focus on `mousedown` if I recall correctly.

[2020-04-07 13:56] kentcdodds commented on #178
Are you suggesting that we attempt to focus and if activeElement doesn't change to that element we throw?

[2020-04-07 17:02] kentcdodds opened #241 "Should probably use label.control"
This logic here: https://github.com/testing-library/user-event/blob/1af67066f57377c5ab758a1215711dddabad2d83/src/index.js#L15-L31

Should probably first check `label.control` first and rely on the browser's ability to associate labels to form controls and then only do the fallback logic if necessary.

[2020-04-07 23:41] NMinhNguyen commented on #178
@eps1lon were you thinking something like https://twitter.com/brian_d_vaughn/status/1237495862508408832 ?

Thanks for the heads-up, I wasn't aware of this. Will look through their issues.

Are you referring to a user click or `domNode.click()`? Because I think the former should focus it, or am I being too naive here?

[2020-04-08 07:11] eps1lon commented on #178
No I mean an actual mouse click that a real user does. These are split up into mousedown, mouseup, click. Only (after? before?) mousedown the element is focused on some platforms. Some don't. But that is not important for this issue. We're talking about key presses.

Maybe. Personally I'd very much like a comprehensive keypress user event but if that also moves focus I wouldn't use it since these

[2020-04-08 07:29] NMinhNguyen commented on #178
Are you suggesting that what Cypress does with auto focusing/clicking isn't a good idea? And that the recommendation is for users to call the imperative `domNode.focus()` before calling `userEvent.type()`, and inside `type` throwing an error if the target is not `document.activeElement || document.body || document.documentElement`, where the error would guide users towards the recommended approach

[2020-04-08 07:42] eps1lon commented on #178
click() performing focus is quite dangerous. Hopefully they're handling platform inconsistencies. Otherwise your test results might be misleading.

There should be no inconsistency between type('Tab') and tab(). Otherwise there should be because type('a') and tab() are different actions. You wouldn't expect those to perform the same action, no?

I'm not familiar with what cypress does. I find thei

[2020-04-08 07:58] NMinhNguyen commented on #178
In case I wasn't clear before, this is what I was referring to by the way: https://github.com/testing-library/user-event/blob/1af67066f57377c5ab758a1215711dddabad2d83/__tests__/react/click.js#L178-L199

Personally for me, I would say that the motivation isn't really the reduced LOC in test files but a more user-friendly testing API where the user doesn't have to be aware of the intricacies of focu

[2020-04-08 08:13] eps1lon commented on #178
I totally get the urge to hide focus away. There's a fine balance between abstracting certain aspects and requiring knowledge. I'm currently siding with "you should definitely know what focus() is" because it (hopefully) leads you to think more about accessibility. So I'd rather gatekeep devs that don't know what focus is than gatekeep users because our testing utilities helped building inaccessib

[2020-04-08 08:18] NMinhNguyen commented on #178
For consistency, would you also suggest `.focus()` be taken away from `userEvent.click()`, `userEvent.tab()`? Or are they fine to have auto focus?

[2020-04-08 08:34] eps1lon commented on #178
That one is tricky. It should consider platform inconsistencies but it's mostly used in JSDOM, no? If it's run in an actual browser it should definitely consider platform inconsistencies. If it focuses on macOS + firefox (might be another combination) then I'd definitely consider this a bug.

I mean the whole point of this is to move focus, no? Should definitely stay.

[2020-04-10 10:41] emepyc opened #242 "window.getSelection is not a function"
### Versions
- node: v10.16.3
- react: 16.13.1
- create-react-app / react-scripts: 3.4.1
- testing-library/react: 9.5.0
- testing-library/user-event: 7.2.1
- testing-library/dom: 7.2.1

### Observed:
When testing a component that contains `window.getSelection` the test fails with
[code]
Test only fails when using `user-event` on the test, using `fireEvent` instead, the test passes

### Expected:
T

[2020-04-10 14:47] smeijer commented on #206
Support for key presses would be very useful. Think of typing 'hi' in a textarea, and using `ctrl + enter` to submit the form.

Or testing if [hotkeys](https://github.com/jaywcjlove/hotkeys) still work.

[2020-04-11 14:40] rdjpalmer commented on #230
I found a quick workaround by switching all references of `target.value` to `target.textContent`, e.g.:

[code]

I don't expect this to work with more complex `contenteditable` elements, but mine is relatively straight forward in that it has a maximum of 5 chars

[2020-04-11 18:46] alexkrolick commented on #230
In a real browser we can use isContentEditable to switch to an input mode like this for .type(), but JSDOM doesn't support that or very many other ContentEditable features. See previous discussion related to it: https://github.com/testing-library/dom-testing-library/pull/235

You'd need to patch the DOM a lot to make this work.

[2020-04-13 04:27] bkong88 commented on #191
This is due to `async type()`having the following logic for an example string of `"12AB"`:
Loop 1:
    `fireEvent.input("1") // OK, input element will have value of '1' now`
Loop 2:
    `fireEvent.input("12") // OK, input element will have value of '2' now`
Loop 3:
    `fireEvent.input("12A") // Not OK, input element doesn't recognize so it has value of '' now`
Loop 4:
    `fireEvent.input("12AB")

[2020-04-15 09:45] Gpx commented on #189
We might move user-event to the main package at some point but for now, it's better to keep the separated

[2020-04-15 09:49] Gpx commented on #225
I think we should not fire a blur event if the clicked element has already focus. It shouldn't be hard to fix

[2020-04-15 10:30] Gpx commented on #190
The bug appears only if the `input` is a child of `label`, if I use `htmlFor` it works fine. I think we don't handle that case correctly

The bug is probably [here](https://github.com/testing-library/user-event/blob/1af67066f57377c5ab758a1215711dddabad2d83/src/index.js#L26-L29), it needs more investigation

[2020-04-15 10:59] yuritoledo commented on #189
great.

[2020-04-16 09:00] Gpx commented on #229
I'm not sure why babel makes it harder to use this library. The tests are already configured to use babel and the publishing step transipiles automatically.
Can you provide some more details?

[2020-04-16 09:00] #229 closed

[2020-04-16 09:05] Raynos commented on #229
I can't remember exactly what issues I was having when trying to contribute to this library and run the tests or publish a fork ( http://npmjs.org/raynos-user-event ).

Either I could not publish working code or I could not get the tests to run.

But replacing import / export with `require` fixed all my issues and removed a lot of code / dependencies / build steps.

[2020-04-17 12:36] andypearson commented on #203
Hello, I come from Ruby and Rails land, where the syntax for selecting an option using Capybara looks like this:
[code]

The option is selected based on the visible text of the `<option>` not the `value`.

Docs for this method are here: https://www.rubydoc.info/github/jnicklas/capybara/Capybara%2FNode%2FActions:select

I was, therefore, expecting `userEvent.selectOptions` to work in a similar fash

[2020-04-21 15:28] rbusquet opened #245 "click, dblclick and selectOptions fails when activeElement is null"
`document.activeElement` can be null as declared in documentation https://developer.mozilla.org/en-US/docs/Web/API/DocumentOrShadowRoot/activeElement

I'm having an issue where document.activeElement becomes null due to some async code and then clicks using this library fails with:

[code]
This only happens on jest 25.

The check that verifies the element to click is the one currently on focus onl

[2020-04-23 11:04] Gpx commented on #180
I would say yes

[2020-04-23 11:28] Gpx commented on #187
It seems some sort of problem with `selectedOptions` that doesn't get updated, I'm not sure why since a similar bug had been reported already https://github.com/testing-library/dom-testing-library/issues/115

A workaround would be to use `options` instead of `selectedOptions` and filter by `selected`:

[code]

[2020-04-23 22:43] Izhaki opened #249 "Drag example"
I though I'll share this here as it may help others trying to achieve the same thing.

JSDOM [doesn't seem to support `getBoundingClientRect`](https://github.com/jsdom/jsdom/issues/1590), so this will only work on real browser.

# Usage

[code]

# Kapture

![slider-testing-lib](https://user-images.githubusercontent.com/880132/80156530-0efc8f00-85bc-11ea-902c-c4e0f11a2579.gif)

# Code

[code]

[2020-04-26 17:41] rbusquet commented on #245
Closing this issue. I got more details while investigating. Still think this is an issue with user-events, but because it currently is not fully compatible with jest 25, I'll do more investigation.

[2020-04-28 11:10] mfrachet commented on #245
Can you share your details please? It looks that I'm facing the same right now 😅

[2020-04-28 15:35] rbusquet commented on #245
@mfrachet it was related to elements that would be rendered conditionally, and when unmounted asynchronously some elements would maintain focus. It caused `document.activeElement` to be null because JSDOM couldn't track them back to the document.

I can't tell if it's an issue with JSDOM itself, or testing-library/react... I have a PR here but I'm having a hard time reproducing the issue: #253

[2020-04-30 19:27] josejulio opened #254 "Hover"
A way to hover on elements to e.g. test that tooltips are working correctly.

[2020-05-02 00:04] jessethomson opened #255 "userEvent.click does not wait for useEffect changes to be flushed"
**Scenario**

I have a component that executes a callback inside of useEffect any time there is a state change. In my tests, if I use `userEvent.click` to trigger that state change, the callback is executed after my test has already finished and the test fails. If I use `fireEvent.click` instead, the test passes.

Maybe this is expected and `fireEvent.click` is synchronous and `userEvent.click` is

[2020-05-04 19:19] Meemaw opened #256 "[Typescript]: Missing "clear" type definition"
"clear" function type definition is not exported.

[2020-05-06 19:17] calebeby commented on #140
@Gpx I think this issue can be closed. The typings folder _is_ being published to npm:
https://unpkg.com/browse/@testing-library/user-event@4.2.0/typings/index.d.ts

@parkerziegler you were looking at 4.1.0 which was before the typings were added to this repo. The typings were published in 4.2.0: https://github.com/testing-library/user-event/pull/134

[2020-05-06 19:18] #140 closed

[2020-05-06 19:29] calebeby commented on #255
This is closely related to #128

[2020-05-06 19:35] calebeby commented on #255
@jessethomson if you wrap userEvent calls with `act`, it should work. `fireEvent` from `react-testing-library` does this automatically, but `fireEvent` from `dom-testing-library` does not (because act is a react feature). `user-event` calls `fireEvent` from `dom-testing-library`, since this library is not react-specific. Once we resolve #128, this issue should also be resolved.

Adding `act` on al

[2020-05-07 15:11] telpochyaotl commented on #20
at the moment if use userEvent.click on an element of type submit, it is not triggering the form submission, neither does fireEvent.click, it may be form implementation that is not using the onClick, however, the input is of submit type and as such, for a real user, clicking on the button does trigger a form submission. I think userEvent.click should trigger a form submission... Great library none

[2020-05-07 18:56] dvoytenko opened #258 "Pointer events support"
Would you consider pointer event support in the scope of this project? They are becoming popular and sometimes even used interchangeably. Just as with other events, the sequence is important.

E.g. a mouse down user interaction would cause:
1. `pointerdown(pointerType=mouse)`
2. `mousedown`

[2020-05-07 18:56] dvoytenko opened #353 "Pointer events support"
Would you consider pointer event support in the scope of this project? They are becoming popular and sometimes even used interchangeably. Just as with other events, the sequence is important.

E.g. a mouse down user interaction would cause:
1. `pointerdown(pointerType=mouse)`
2. `mousedown`

[2020-05-08 12:46] Meemaw commented on #256
Fixed in https://github.com/testing-library/user-event/pull/250

[2020-05-08 12:46] #256 closed

[2020-05-08 15:27] jamesonhill commented on #179
This would be super helpful for me as well, due to this issue w/ fireEvent. https://github.com/testing-library/react-testing-library/issues/551

In my case, I have to support a submit-like event for textarea's onKeyPress for "Enter".

[2020-05-08 20:50] grahamlangford commented on #254
I would also like to see this. I'm using userEvent for almost everything now, but I still have to import fireEvent just for mouseOver.

[2020-05-10 14:02] hiredgunhouse opened #266 "Can you please work on the bundle size?"
The whole @testing-library inside node_modules is really too big IMHO (almost 20MB),
user-event is over 12MB and there is this 'cc-test-reporter' ELF executable even though I'm on windows. I know it's not a lot for a single project, but it accumulates quickly even for a single machine.
I'm sure something can be done to make this awesome library smaller :)

[2020-05-11 00:03] vadimshvetsov opened #267 "File uploading API"
I'm not sure that this is in the scope but would be great to have an API for uploading file like this:
[code]

At now I'm doing this:

[code]
What do you think?

[2020-05-11 19:32] justinanastos opened #268 "`userEvent.clear()` does not fire `onChange` handlers"
Reproduction: https://github.com/justinanastos/user-event-clear-bug

I'm finding that `onChange` handlers are not being fired when using `userEvent.clear(getBy...)`.

This is both a bug report and a request for help. I'm not sure what I'm doing wrong here:

[code]

[2020-05-13 12:47] rfoel commented on #268
I'm getting `InvalidStateError: The object is in an invalid state.` when I call the clear method 🤔

[2020-05-13 16:54] justmatt opened #275 "Error when `document.activeElement` assigned empty object."
### Problem

Error: `Unable to find the "window" object for the given node.`
When `element.ownerDocument.activeElement` is `{}` (L136)

Then  `wasAnotherElementFocused` will be `true` (L137)

And `fireEvent.mouseMove` is called with `{}` (L141)
[code]

### Suggested Solution
If `focusedElement` is `{}` (empty object) do not ` fireEvent.mouseMove` and ` fireEvent.mouseLeave`

### Further Notes
This

[2020-05-13 21:23] kentcdodds commented on #266
Fixed in #273 273

[2020-05-13 21:23] #266 closed

[2020-05-13 21:34] kentcdodds commented on #267
Hi @vadimshvetsov!

Seems pretty light-weight, but I think it makes more sense to call a function called `upload` rather than `change`. I'd be open for a PR for this :+1: Thanks!

[2020-05-13 22:16] kentcdodds commented on #275
Hi @justmatt,

Why is the active element an empty object?

[2020-05-13 22:16] kentcdodds commented on #275
Haha, just noticed you said "Cause unknown"

Could you dig deeper and figure out why that is? Seems odd.

[2020-05-13 22:20] kentcdodds commented on #268
Looks like `clear` calls into `backspace` (after selecting all the contents) and this fires an `input` event:

https://github.com/testing-library/user-event/blob/ee8aa5c2a7457132de6ab06a13df7e37697a99be/src/index.js#L128-L130

I didn't write this or review these PRs so I'm not sure why it's working this way (I expect there's some reason for this). In general, I think our goal is to match what cypr

[2020-05-13 23:32] vadimshvetsov commented on #267
@kentcdodds That's would be nice to have. I would like to do it if you didn't start implementing this feature.

[2020-05-13 23:34] kentcdodds commented on #267
Sure, go for it 👍

[2020-05-14 09:50] justmatt commented on #275
No issue with your code.
Looks like `activeElement` had been mocked in Jest `setupTests.js`

[2020-05-14 09:50] #275 closed

[2020-05-14 17:03] crutchcorn opened #277 "When using `user.click` in `@testing-library/angular`, an error is thrown"
I have the following test written to test a pagination component:

[code]

With one of the buttons being formed like this:

[code]

(With the translate pipe coming from `ngx-translate`)

However, when I run the tests, I get the following error.

[code]

However, if I switch from `user.click` to `fireEvent` from `@testing-library/angular`, I get no such error and the tests pass

[2020-05-14 18:47] kentcdodds commented on #277
I'm pretty sure it's failing here:

https://github.com/testing-library/user-event/blob/e2272ab58675a5bafda3633b4cc9bf5f50d5dab9/src/index.js#L52

I'm not sure what the `previousElement` is... But I'm guessing that after trying to blur that element, jsdom attempts to focus a new element which is undefined. I'm not sure what's happening there. Do you mind doing a little digging? If you could add som

[2020-05-14 18:49] kentcdodds commented on #277
Here's the code for that: https://unpkg.com/browse/jsdom@16.2.2/lib/jsdom/living/helpers/focusing.js

[code]

It's either failing at:

[code]

Or:

[code]

If you could figure out exactly where and what that `target` actually is that would probably help us track down what's going on.

[2020-05-15 00:00] FLT4613 opened #278 "userEvent.selectOptions causes RangeError: Maximum call stack size exceeded"
There are two select box components with <Label>:

`<Label>`'s child element
[code]
using `htmlFor`
[code]

And  I test those with this code:
[code]

But only `<Label>`'s child element test failed with error:
[code]

Why the test failed ?

My code sandbox(I added file `App.test.js`):
https://codesandbox.io/s/boring-hypatia-5qhf0

Thanks!

[2020-05-15 16:49] rbusquet commented on #278
looks like this was fixed in jsdom 16: https://github.com/jsdom/jsdom/pull/2921

[2020-05-15 17:18] kentcdodds commented on #278
Thanks @rbusquet!

@FLT4613, could you upgrade the version of jsdom you're using and verify this does fix the problem?

[2020-05-15 17:58] crutchcorn commented on #277
I'm still looking into it, but it seems that `target` is properly set to `#document`:

[code]

Then the:

[code]

It's then that `target` becomes this:

![image](https://user-images.githubusercontent.com/9100169/82081100-9a88ad80-969a-11ea-9f5b-dc3f83cd96ed.png)

Which is why `view: target._ownerDocument._defaultView,` fails, because `_ownerDocument` is `undefined`

[2020-05-15 18:13] kentcdodds commented on #277
Thanks for that investigation! I'm starting to think this is a JSDOM bug. What do you think?

[2020-05-15 20:23] crutchcorn commented on #277
I agree. I don't see anything that's implementation specific to user-event here.

I'll make a issue on jsdom outlining my findings and link it here

[2020-05-15 21:49] #267 closed

[2020-05-15 21:51] Gpx commented on #267
:tada: This issue has been resolved in version 10.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/user-event/v/10.3.0)
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v10.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-16 08:13] 9still opened #281 "userEvent.type does not respect maxlength when appending to existing text"
When https://github.com/testing-library/user-event/commit/1e8d140b0e67aa9da089c832deb997c2a15d5a33 introduced a change to the way `.type()` behaves, it did not update `maxLength` handling to take previous text into account.

As a result, if you have an element like this:

[code]

doing the following
[code]

ends up producing:

[code]

rather than what you would expect from the browser, namely:
[co

[2020-05-16 08:21] 9still opened #282 "userEvent.clear() does not work for input types w/o setSelectionRange support"
`userEvent.clear()` uses `setSelectionRange` to clear the input, but `setSelectionRange` is only supported by a subset of input elements

Per https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/setSelectionRange

This implies that `userEvent.clear()` is not actually supported for `email` and `number` input types, amongst others.

To make matters worse, `jsdom` (tested on 16.2.2) thro

[2020-05-16 13:21] kentcdodds commented on #282
This was recently fixed via a workaround: https://github.com/testing-library/user-event/pull/262

Please update to the latest version. Thanks!

[2020-05-16 13:21] #282 closed

[2020-05-16 13:22] kentcdodds commented on #281
Thanks for the report. Would you be interested in fixing that?

[2020-05-17 08:16] 9still commented on #281
@kentcdodds sure - took a stab at it.  Thanks!

[2020-05-17 08:19] 9still commented on #282
Awesome, the new version works great, thanks!

[2020-05-17 13:17] #281 closed

[2020-05-17 13:21] Gpx commented on #281
:tada: This issue has been resolved in version 10.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/user-event/v/10.3.1)
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v10.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-18 00:27] FLT4613 commented on #278
Fixed it by upgrading Jest from 25.3.0 to 26.0.1. Thanks all !

[2020-05-18 00:27] #278 closed

[2020-05-18 16:22] rbusquet opened #285 "uploaded files should be iterable"
Current `upload` implementation sets the target element `files` to an object that matches the type definition for FileList. JSDOM and browsers implement FileList extending from Array, allowing them to be iterable (for example, one can perform `[...element.files]`). With the current implementation, after performing the upload, the attribute is not iterable.

sandbox with a demonstration: https://co

[2020-05-18 19:08] rbusquet commented on #285
I'm having a hard time figuring out how to properly mock it since I can't even find documentation on the fact that it should be iterable at all :/ chrome at least will implement it as an iterable. we could maybe implement the iterable protocol in the returned object? https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols

If I could find some doc saying one should ac

[2020-05-18 20:48] justinanastos commented on #268
Thanks @kentcdodds . First, I verified performing `.type('{selectall}{backspace}')` both clears the `input` and fires the `onChange` handler in this demo repo: https://github.com/justinanastos/user-event-clear-bug-cypress

The `clear` command adds an event handler for `blur` in which it will execute the on change handler; I'm not seeing this fired even when adding a blur event to the test, which p

[2020-05-18 22:46] kentcdodds commented on #285
It seems to me that we should probably change this:

https://github.com/testing-library/user-event/blob/1f8ad44a4bdfdd9ab867aae80d0af90c61cab41c/src/index.js#L318-L322

To be a `FileList` rather than an object with FileList-like properties... What do you think @vadimshvetsov? Is there a reason you didn't implement it as a `FileList` from the start? I've checked and JSDOM *does* support FileList.

[2020-05-18 22:50] kentcdodds commented on #268
I'd love to know why that code existed in the first place. But as the original maintainer of this project seems to have stopped maintaining it, I think we should just go forward with what makes the most sense.

Go ahead and make the PR. Thank you!

[2020-05-19 01:31] vadimshvetsov commented on #285
Hi, @rbusquet! Thanks for describing a problem here.

I’d tried to implement from start`upload` as a `FileList` as close as possible from but it cannot be created cause it’s a readonly unfortunately. The only way to create `FileList` is with `DataTransfer` constructor which has no reliable node polyfill as I’ve found.

Your case is looks common and I will think about how to make it works with anot

[2020-05-19 01:33] rbusquet commented on #285
Thanks @vadimshvetsov, let me know if there’s anything I can do to help.

[2020-05-19 22:35] ianwremmel opened #287 "userEvent.clear() missing from published typings"
It looks like `userEvent.clear()` got added to typings just a few days ago, but the last release was three weeks ago. Could we get a new release with the updated typings?

Thanks!

[2020-05-20 01:05] vadimshvetsov commented on #285
At first I was tried to implement function for emulate `FileList`, but it's not possible with current `FileList` implementation in `jsdom`.

[code]

Thats because of [this line](https://github.com/jsdom/jsdom/blob/master/lib/jsdom/living/file-api/FileList-impl.js#L7). So I see no clean option to make `files` as `FileList` at now. Here is the [issue in `jsdom`](https://github.com/jsdom/jsdom/issues

[2020-05-20 01:13] rbusquet commented on #285
Thanks for investigating, @vadimshvetsov. That's a good point that Edge won't implement it, I'll double-check and make the team here aware if that's an issue.
Will wait on @kentcdodds opinion

[2020-05-20 01:35] vadimshvetsov commented on #287
Hi @ianwremmel. I have no issues with using types from in-library typings and [`clear`](https://github.com/testing-library/user-event/blob/master/typings/index.d.ts#L22).

![image](https://user-images.githubusercontent.com/16336572/82394882-d634c600-9a52-11ea-81cd-c13b17df90af.png)

I'm not sure where is the most maintainable source of types in this library, but removing `@types/user-event` packag

[2020-05-20 05:16] kentcdodds commented on #285
If it's not easy to do in the library and it doesn't impact standards-compliant code anyway then I say we make no changes.

[2020-05-20 10:45] rbusquet commented on #285
Sounds good to me. Again, thanks for investigating!

[2020-05-20 13:19] #285 closed

[2020-05-20 16:42] ianwremmel commented on #287
Strange. The repo in question has the latest version, but the types don't match up with what's apparently published.

![Screen Shot 2020-05-20 at 9 40 24 AM](https://user-images.githubusercontent.com/1182361/82473133-fcbc2680-9a7d-11ea-90e6-140888b375a5.png)

[2020-05-20 16:43] ianwremmel commented on #287
oh, interesting. My computer isn't seeing the same `latest` version as npm.com.

[code]

[2020-05-20 16:45] ianwremmel commented on #287
`npm cache clean --force` seems to have convinced it to find the latest versions. Please accept my apologies for the confusion.

[2020-05-20 16:45] #287 closed

[2020-05-21 18:08] kayleighridd opened #295 "[feature request] Ability to change element focus between `type` events"
Currently all the `keyUp`, 'keyPress` and `keyDown` events within `type` fire on the specified element, but it would be useful to be able to fire these on the currently active element so that focus can change between these events.

My use case is a multi input field where I change the focus as input reaches its max character length so that the value is added to the next input.
I do this by changin

[2020-05-21 18:43] kentcdodds commented on #295
Hi @kayleighridd,

I can visualize the kind of experience you're describing... What if instead of firing all the events on the element that's passed, we first focus that element and then reference the `document.activeElement`? That's actually more like what the user's doing when they type and it should support the situation you're describing. What do you think?

[2020-05-22 06:04] kayleighridd commented on #295
@kentcdodds yes, that would be ideal 🎉
I assumed this would be a feature that we can turn on through `options` so it's not a breaking change, but are you suggesting this should always be the behaviour?

[2020-05-22 16:23] tgallacher commented on #268
I think this issue should have been auto closed by #286.

I recon it's the extra "_issue_" word after the "Resolves" Github keyword which has prevent the auto close trigger.

[2020-05-22 16:26] #268 closed

[2020-05-25 07:30] kayleighridd commented on #295
Okay great. Yeah, I'm happy to raise a pull request for this, thanks!

[2020-05-26 16:11] #245 closed

[2020-05-26 17:15] kentcdodds commented on #203
I think [this PR](https://github.com/testing-library/user-event/pull/297) handles this best, so I'll go ahead and close this.

[2020-05-26 17:15] #203 closed

[2020-05-28 08:03] kayleighridd commented on #295
👋  I've raised a PR for this here: https://github.com/testing-library/user-event/pull/299
I'm not sure how to link it to this issue.

[2020-05-28 23:15] wKovacs64 opened #301 "userEvent.type does not replace selected input value"
- `@testing-library/user-event` version: 10.4.0
- Testing Framework and version: jest 24.9.0
- DOM Environment: jsdom 14.1.0, 16.2.2

Relevant code or config

[code]

[code]

What you did:

I'm trying to test behavior of an input that automatically selects its contents on focus (so the user can immediately start typing to replace the value, rather than having to clear it manually).

What happened:

[2020-05-29 22:51] pranjaljately commented on #188
Hi @wKovacs64,

Would it be possible for you to share a repo of the code so I can reproduce the issue?

Thanks,
Pranjal

[2020-05-30 00:41] wKovacs64 commented on #188
Hey @pranjaljately, I've whipped up a quick reproduction CSB.

https://codesandbox.io/s/user-event-issue-188-j9brp?file=/src/__tests__/App.test.js

Thanks for taking a look!

[2020-05-30 10:30] pranjaljately commented on #188
Thanks for CSB, @wKovacs64

So from understanding, because you are changing the focus from the radio button to the input, it is not assigned instantaneously therefore, you should wrap the expect inside a `waitFor` call:

[code]
`fireEvent` isn't exactly how the user interacts with the application whereas `user-event` tries to simulate the events that would happen in the browser as the user interac

[2020-05-30 15:31] wKovacs64 commented on #188
I guess my confusion then lies around why `fireEvent` would **not** require waiting, since the app is moving the focus in an effect with the value of the radio group as its dependency. I understand `userEvent` tries to simulate the events that would happen in the browser (that's precisely why I'm trying to use it), but `fireEvent` and `userEvent` both ultimately change the value, triggering the fo

[2020-05-31 02:51] gcvfi commented on #255
Another work around, after doing `  userEvent.click(some_element_object);   `
and before checking UI effect for click, ao a zero second delay using
`   await new Promise(r=>setTimeout(()=>r(), 0));    `

I dont know, doing this work around has any other side effects.
If not, can we make it part of ` userEvent.click()  `

[2020-05-31 22:24] kentcdodds commented on #188
I believe this actually is evidence of an issue we should address in user-event. We've discussed this in the past and I assumed that we didn't need to worry about wrapping `userEvent` in `act`, but based on this example, I think it's clear we need to figure out a way to automatically wrap `userEvent` in `act`.

https://codesandbox.io/s/user-event-issue-188-o0281?file=/src/__tests__/App.test.js:316

[2020-06-01 12:02] timdeschryver commented on #277
👋 I'm the maintainer of Angular Testing Library.
Have you also tried this with the `userEvent` from the Angular Testing Library?

[code]

I think the change detection of Angular is causing issues here.
If you use the events directly from this `user-event`  package, you will have to manually call `detectChanges` to invoke a change detection cycle. Without it, the DOM won't be updated.

What I did w

[2020-06-01 23:33] #188 closed

[2020-06-01 23:33] #255 closed

[2020-06-01 23:51] kentcdodds commented on #188
:tada: This issue has been resolved in version 10.4.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v10.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-01 23:51] kentcdodds commented on #255
:tada: This issue has been resolved in version 10.4.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v10.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-01 23:51] kentcdodds commented on #277
:tada: This issue has been resolved in version 10.4.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v10.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-01 23:55] kentcdodds commented on #277
Whoops, I wasn't supposed to close this. However, the latest version *should* allow `@testing-library/angular` to use the new `eventWrapper` to automatically trigger change detection after `fireEvent` even when using `@testing-library/dom` directly. Very similar to this: https://github.com/testing-library/react-testing-library/commit/7bd8be85de8aa8ab080c3293261ec6dce075b4e4

[2020-06-01 23:56] kentcdodds commented on #255
This is now fixed!

[2020-06-02 19:46] cwbuecheler opened #304 "userEvent.type generating "not a function" error"
- `@testing-library/user-event` version: ^11.0.0
- Testing Framework and version: Jest ^26.0.1

- DOM Environment: Rendering with `render` from  @testing-library/react ^10.0.4

Relevant code or config

[code]

What you did: Executed the above code via the command line (OSX, Node v. 12.16.3)

What happened: I received the following error:

[code]

I have checked and `screen.getByRole('textbox'), '4

[2020-06-02 21:31] TransmissionsDev commented on #304
Having this as well!

[2020-06-02 21:32] TransmissionsDev commented on #301
Pretty sure this is intentional, you can clear the field manually.

[2020-06-02 22:07] wKovacs64 commented on #301
As the goal of `user-event` is to "fire events the same way the user does", I wouldn't expect to have to manually clear the field when the existing content has already been selected automatically. The user doesn't clear the field manually, the user simply starts typing.

[2020-06-02 22:07] kentcdodds commented on #304
As mentioned in [the release notes](https://github.com/testing-library/user-event/releases/tag/v11.0.0) the latest version of `user-event` requires `@testing-library/dom` v7.9.0.

This was a breaking change and was released as a major version.

Upgrade your version of `@testing-library/dom` and you should be fine.

One note is that `@testing-library/react` (which is probably where you're getting `

[2020-06-02 22:10] #304 closed

[2020-06-02 22:12] kentcdodds commented on #301
Yes, this should be supported. Would you be interested in opening a PR?

[2020-06-03 02:41] wKovacs64 commented on #301
Might be a little out of my zone, but I could give it a shot.

[2020-06-03 13:33] cwbuecheler commented on #304
Awesome, thanks @kentcdodds - apologies for not checking the versions. It's hard sometimes to keep up with all the changes in this ecosystem. :)

[2020-06-04 16:41] wKovacs64 commented on #301
Well... I had something going for this, but #299 totally wrecked it, haha... 😅

[2020-06-04 21:30] TransmissionsDev opened #307 "User Event breaks typing with controlled inputs on v11.0.1"
- `@testing-library/user-event` version: v11.0.1
- Testing Framework and version: React Testing Lib Latest

- DOM Environment: jsdom

Relevant code or config

[code]

What you did:

After updating to v11.0.1, my tests that tested my controlled inputs are now failing.

Reproduction repository:

To reproduce run `npm run unit-test` in the `demo-testing-lib-bug` branch of this repo: https://github.co

[2020-06-04 23:29] #301 closed

[2020-06-04 23:29] #31 closed

[2020-06-04 23:29] #181 closed

[2020-06-04 23:33] kentcdodds commented on #301
:tada: This issue has been resolved in version 11.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-04 23:33] kentcdodds commented on #181
:tada: This issue has been resolved in version 11.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-04 23:33] kentcdodds commented on #172
:tada: This issue has been resolved in version 11.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-04 23:33] kentcdodds commented on #31
:tada: This issue has been resolved in version 11.1.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-05 01:02] kentcdodds commented on #307
Could you try this with the latest version? We made a bunch of improvements and this is probably fixed.

[2020-06-05 02:33] kelvinlzhang commented on #307
Not sure if this is related, but I ran into something similar yesterday as well.
[code]
If I wrap the assertion in `setTimeout` it works, so it seems like `type` isn't awaiting properly. `allAtOnce` still works as expected.

After updating to latest
[code]

I immediately got an `InvalidStateError` once it hit `user.type`, had to reinstall my dom environment package and switch back to `fireEvent.ch

[2020-06-05 02:51] kentcdodds commented on #307
That sounds like an error from the fact that the email address that was typed is invalid. Could you try with a valid email address?

[2020-06-05 02:53] kelvinlzhang commented on #307
Sorry, I should've clarified - it's just a normal text input element with a label called email. I get the same behavior with something like foo@bar.com

[2020-06-05 03:16] TransmissionsDev commented on #307
@kentcdodds Still failing on 11.1.0 after I purged package-lock.json and node_modules and reinstalled.

[2020-06-05 04:48] kentcdodds commented on #307
@kelvinlzhang, that's a different issue. Could you make an isolated running reproduction and open a new issue?

[2020-06-05 06:59] kelvinlzhang commented on #307
@kentcdodds I will try to reproduce with a fresh CRA repo tomorrow and open another issue if I'm able to. In the meantime, I retraced my steps in yarn. It did not reproduce the "last character" error that's similar to this issue, but I did run into the `InvalidStateError` on `user.type` again. At least on my machine, there seems to be an issue with this upgrade in particular:

[code]

 Sorry for c

[2020-06-05 07:41] kelvinlzhang opened #309 "Upgrade to v11.1.0 causes type method to fill Input incorrectly"
- `@testing-library/user-event` version: 11.1.0
- Testing Framework and version: jest on fresh react-scripts@3.4.1 app

- DOM Environment: jest-environment-jsdom-sixteen@1.0.3

STR:
1. Use CRA to create new app
2. Make the following upgrades:
[code]
3. Create a component with textbox input, I just pasted in the input event example from https://testing-library.com/docs/example-input-event
4. Use `u

[2020-06-05 13:25] #180 closed

[2020-06-05 13:30] kentcdodds commented on #180
:tada: This issue has been resolved in version 11.2.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-05 13:31] kentcdodds commented on #307
@TransmissionsDev, could you make a running and isolated reproduction of the issue you're experiencing?

[2020-06-05 13:35] kentcdodds commented on #309
I think I know what's going on here, I'll probably be able to fix it this morning, but if you'd like to beat me to it you're more than welcome! Even providing me with a failing test case as a PR would be helpful and welcome 😁

[2020-06-05 14:03] krzysztof-hellostudio commented on #309
i can confirm that 11.2 still acts differently than old version, seems to be working like you had replace mode enabled in typing and occasionally loosing some letters? very strange

[2020-06-05 14:09] krzysztof-hellostudio commented on #309
10.4.1 seems to be last version that was working more like i would expect typing to work, so appending text correctly at the end

[2020-06-05 15:12] TransmissionsDev commented on #307
@kentcdodds If you look at the file I linked you, it is a reproducible runnable reproduction case. I stripped it down to just the input component.

[2020-06-05 16:44] TransmissionsDev commented on #307
I think this could be because of testing-library selecting the existing text in the input, and overriding it as per this change: https://github.com/testing-library/user-event/issues/301 ?

[2020-06-05 17:02] TransmissionsDev commented on #307
Yeah, this is not an issue with Chakra UI, it's just an issue with testing controlled inputs, because my FormInput is just an abstraction of a controlled input, and before v11.0.1 somehow I was able to get by not re-rendering on each state change, but some bug has been fixed and now I cannot.

**This isn't a bug with testing-library, just a fix of a bug that broke my ignorance is bliss approach.**

[2020-06-05 17:02] #307 closed

[2020-06-05 17:40] kentcdodds commented on #307
Ah, thank you for reporting back on that @TransmissionsDev :)

[2020-06-05 17:40] kentcdodds commented on #309
I figured it out. Pushing a fix in a moment.

[2020-06-05 17:49] kentcdodds opened #311 "Replace type allAtOnce with "paste""
It's not aligned with the goals of this lib, but the use case is understandable so we should include a simple "paste" event.

[2020-06-05 17:49] kentcdodds opened #355 "Replace type allAtOnce with "paste""
It's not aligned with the goals of this lib, but the use case is understandable so we should include a simple "paste" event.

[2020-06-05 17:59] kentcdodds commented on #309
@all-contributors please add @kelvinlzhang for bugs

[2020-06-05 17:59] kentcdodds commented on #309
@all-contributors please add @krzysztof-hellostudio for bugs

[2020-06-05 18:02] #309 closed

[2020-06-05 18:06] kentcdodds commented on #309
:tada: This issue has been resolved in version 11.2.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-05 18:07] tpict commented on #309
Really appreciate the quick turnaround on this 😄

[2020-06-05 18:16] kelvinlzhang commented on #309
What tpict said, thanks @kentcdodds! 🚀

[2020-06-05 19:01] kelvinlzhang opened #316 "type causes InvalidStateError with <input type="email">"
Occurs in master of `@testing-library/user-event` version: 11.2.1

Here's an example failing test, not really up to this library's standards but I wanted to get as close to the source as possible.

STR:

1. Add the following block to src/\_\_tests\_\_/type.js
[code]
2. Run test
3. `InvalidStateError`

What happened: I wanted to follow up on this comment and reproduce: https://github.com/testing-li

[2020-06-05 19:12] kelvinlzhang commented on #316
Yeah, something funky going on with validated text input types.

[2020-06-05 19:16] kentcdodds commented on #316
Thanks for this @kelvinlzhang! Would you be interested in digging in and figuring out the issue?

[2020-06-05 19:16] kentcdodds commented on #316
@tpict you're welcome to try as well 😁

[2020-06-05 19:30] kelvinlzhang commented on #316
@kentcdodds see https://stackoverflow.com/questions/21177489/selectionstart-selectionend-on-input-type-number-no-longer-allowed-in-chrome

Seems like a lot of people aren't too happy about this :(

[2020-06-05 20:50] tpict commented on #316
Looks like `user-event` handles this elsewhere by simply [switching out the `type` of the input for the function's lifetime](https://github.com/testing-library/user-event/blob/5c11411b2564603c4a28673dbe089516364f26ec/src/index.js#L217-L229). Would that be a reasonable fix here, or is it off the table on account of `type` being asynchronous?

[2020-06-06 00:00] kentcdodds commented on #316
That's what I was thinking. Want to give it a try?

[2020-06-06 00:14] ctoppel commented on #304
This might be project related, but any reason someone could think of that the latest version of @testing-library/dom is not being installed with @testing-library/react?

[2020-06-06 00:24] kentcdodds commented on #304
That can happen when your lockfile keeps the older version

[2020-06-06 03:43] rbusquet commented on #311
Is this a placeholder for a task you already started? I would appreciate if I could grab this one. Thanks!

[2020-06-06 05:11] ctoppel commented on #304
Ya, that was it. Thanks. Deleted the lockfile, removed node modules, and installed modules fresh (which created and new lockfile) and all was good.

Sent from my iPhone

[2020-06-06 05:23] kentcdodds commented on #311
This will be a breaking change and I'm not sure we're ready for it quite yet. But I can let you know when we are! In fact, if you want, you can go ahead and open a PR right now, you'll just have to keep it updated until we're ready to do it.

--- original message ---
On Fri, Jun 5 at 09:43 PM, <notifications@github.com> Ricardo Busquet wrote:

Is this a placeholder for a task you already started?

[2020-06-06 19:44] weyert commented on #311
What would be the use case of this? Wouldn’t this be a different use case from typing? I have to admit I never use allAtOnce=true

[2020-06-06 19:44] weyert commented on #241
Seems like a good idea to me!

[2020-06-06 19:50] kentcdodds commented on #311
Yes, it's a different use case. allAtOnce shouldn't exist.

[2020-06-06 20:11] kentcdodds commented on #241
I think this has been done

[2020-06-06 20:11] #241 closed

[2020-06-06 20:34] weyert commented on #311
Ah right, that makes sense, wouldn't making a `paste`-action make more sense? Similar to `clear` or the `upload` actions that are available. I think I added the delay a long time ago so I don't mind that the allAtOnce option gets removed :)

[2020-06-06 21:37] kentcdodds commented on #311
Yeah, that's the point of this issue 😉

[2020-06-07 00:26] rbusquet commented on #311
went through a rabbit hole here. Would it be expected that this event would trigger `onpaste` event listeners? And what about other clipboard functionalities?

Already learned a lot, I'll continue investigating, but I'm kind of stuck in the lack of support for the clipboard API on jsdom (if we go down the path of dispatching clipboard events). Learning how browsers behave in these cases and how to

[2020-06-07 05:35] Meemaw commented on #316
This is the same problem as https://github.com/testing-library/user-event/pull/262 -- setSelectionRange issue. That function should probably be extracted and reused.

[2020-06-07 11:10] nvh95 commented on #316
While making the dev tools to automate some tasks for my application, I'm seeing the same problem while trying to use `userEvent.type` on an `input` with `type="email"`.
Bellow is my element
[code]
And my script to fill the email
[code]
Only one character is inserted
![image](https://user-images.githubusercontent.com/8603085/83967272-09e46c80-a8ea-11ea-86fa-abcac13a7e22.png)

And in Chrome Console

[2020-06-07 13:21] nanivijay opened #318 "User event type is not updating the redux form store value with latest version of user-event and react-testing-library"
- `@testing-library/react` version: 10.2.1
- `@testing-library/user-event` version: 11.2.1
- Testing Framework and version:
Jest v24
- DOM Environment:

### Relevant code or config:

[code]

### What you did:

Unit testing redux form field change event

### What happened:

Redux form field value is not updated in store

### Reproduction:
Issue is happening in the below code
https://codesandbox.io/

[2020-06-08 02:04] kentcdodds commented on #311
The goal would be that we fire every event that would be fired in the browser when a user pastes text on an element (including focusing that input).

[2020-06-08 02:25] kentcdodds commented on #318
Hi @nanivijay,

I'm pretty sure this is related to this issue: https://github.com/testing-library/user-event/issues/316

[2020-06-08 14:01] hontas opened #319 "Support firing events inside of custom element shadow DOM"
- `@testing-library/user-event` version: 11.2.1
- Testing Framework and version:
  - `@open-wc/testing` version 2.5.17
  - `lit-html` version 1.2.1
  - `mocha` version 6.2.3
- DOM Environment: Chrome@83.0.4103.97

Relevant code or config

[code]

What you did:
I used `userEvent.type` with on an input-element inside a custom element's shadow DOM (in order to test its internal event listeners).

Wha

[2020-06-08 15:44] hudochenkov opened #321 "`type` regression if input or textarea has text in it (11.0.1+)"
- `@testing-library/user-event` version: 11.2.1
- Testing Framework and version:
	`jest@26.0.1`
	`@testing-library/jest-dom@5.9.0`
	`@testing-library/react@10.2.1`

- DOM Environment:
jest-environment-jsdom
@jest-environment jsdom-sixteen

Relevant code or config

[code]

What you did:

Updated library from v10 to the latest version.

What happened:

Library types code incorrectly, if `input` or `

[2020-06-08 17:47] kentcdodds commented on #179
This is now supported with `userEvent.type(button, '{enter}')`

[2020-06-08 17:47] #179 closed

[2020-06-08 17:53] #319 closed

[2020-06-08 17:59] jamesonhill commented on #179
@kentcdodds Awesome! Thanks so much :)

[2020-06-08 18:01] kentcdodds commented on #319
:tada: This issue has been resolved in version 11.3.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-08 18:06] #316 closed

[2020-06-08 18:06] #321 closed

[2020-06-08 18:06] kentcdodds commented on #321
@all-contributors please add @hudochenkov for bugs

[2020-06-08 18:07] kentcdodds commented on #318
@all-contributors please add @nanivijay for bugs

[2020-06-08 18:07] kentcdodds commented on #321
Thank you!

[2020-06-08 18:08] kentcdodds commented on #316
@all-contributors please add @kelvinlzhang for bugs

[2020-06-08 18:08] kentcdodds commented on #318
Thanks :)

[2020-06-08 18:09] kentcdodds commented on #316
@all-contributors please add @tpict for bugs, code, and tests

[2020-06-08 18:10] kentcdodds commented on #316
@all-contributors please add @nvh95 for bugs

[2020-06-08 18:12] kentcdodds commented on #206
We should be able to implement this relatively easily now that we have modifier support implemented. You'd put it somewhere around here: https://github.com/testing-library/user-event/blob/4bbb4b9a6e33641bb2bec3830b6f97e373e29541/src/type.js#L109

[2020-06-08 18:13] kentcdodds commented on #242
This seems to pass with the latest version now :) https://codesandbox.io/s/github/emepyc/get-selection-test

[2020-06-08 18:13] #242 closed

[2020-06-08 18:14] kentcdodds commented on #128
This should be passing without needing `act` now :)

[2020-06-08 18:14] #128 closed

[2020-06-08 18:15] kentcdodds commented on #183
This is definitely an eventual goal, but I feel like we're a long way from that goal. There's a lot of work to be done and I'm afraid that I've just about used up my bandwidth on this project. If anyone else would like to step in and manage the project from here they're more than welcome.

[2020-06-08 18:15] kentcdodds commented on #321
:tada: This issue has been resolved in version 11.3.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-08 18:15] kentcdodds commented on #318
:tada: This issue has been resolved in version 11.3.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-08 18:15] kentcdodds commented on #316
:tada: This issue has been resolved in version 11.3.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-08 18:16] kentcdodds commented on #232
This is now supported. You can either first call `clear()` or (probably better), do this:

[code]

[2020-06-08 18:16] #232 closed

[2020-06-08 18:16] kentcdodds commented on #226
🎉 https://github.com/testing-library/user-event/issues/232#issuecomment-640791105

[2020-06-08 18:16] #226 closed

[2020-06-08 18:17] kentcdodds commented on #237
Hi @kkateli,

Could you please make a minimal reproduction? Once we have something then we can re-open this issue :) Thanks!

[2020-06-08 18:17] #237 closed

[2020-06-08 18:18] kentcdodds commented on #236
This is now supported :)

[2020-06-08 18:18] #236 closed

[2020-06-08 18:19] kentcdodds commented on #178
I think we're doing the right defaults at this point.

If anyone comes up with new issues, please open a new issue :)

[2020-06-08 18:19] #178 closed

[2020-06-08 18:20] kentcdodds commented on #230
Yeah, I'm not sure what we can do for contenteditable. It's.... not easy. I'm thinking right now we'll say it's out of scope. If someone wants to contribute something to make it work then feel free to try.

[2020-06-08 18:20] #230 closed

[2020-06-08 18:21] kentcdodds commented on #191
We made a bunch of changes to `type`. If you could update and try things with the changes then open a new issue if there are still problems you see needing fixing, then please do so. Thanks!

[2020-06-08 18:21] #191 closed

[2020-06-08 18:21] #225 closed

[2020-06-08 18:22] kentcdodds commented on #190
I think this was fixed a few versions ago. Please let us know if this is still an issue.

[2020-06-08 18:22] #190 closed

[2020-06-08 18:22] kentcdodds commented on #161
This should be working properly now.

[2020-06-08 18:22] #161 closed

[2020-06-08 18:24] jamesonhill commented on #225
Thanks!

[2020-06-08 18:25] kentcdodds commented on #249
Thanks for this! Would you like to [add it to the docs](https://github.com/testing-library/testing-library-docs)?

[2020-06-08 18:26] kentcdodds commented on #258
Yeah, I think this is probably something that should be supported. `fireEvent` already has these events to fire: https://github.com/testing-library/dom-testing-library/blob/281eb8b62700dec9a79ad315b6055a61f61f3c9f/src/event-map.js#L300-L340

[2020-06-08 18:27] kentcdodds commented on #254
This would definitely be a welcome addition 👍

[2020-06-08 19:30] hudochenkov commented on #321
This is incredible fast! Thank you very much, Kent!

[2020-06-08 21:04] nickmccurdy commented on #183
I'd be happy to help out, but the three issues I originally mentioned have already been fixed, and I'm not sure what else we need at this point. Are there any specific issues, broad goals, or non-functional requirements you'd like us to meet before this is merged?

[2020-06-08 22:43] kentcdodds commented on #183
All of the existing issues are a good start :)

And I just keep getting this feeling that this package really doesn't quite deliver on what it promises 😬

[2020-06-08 23:11] nickmccurdy commented on #183
Would you mind giving me access to create a Project board on this repository? I can start triaging existing issues there, and we can all use it to keep track of progress.

[2020-06-09 00:27] nickmccurdy commented on #187
I can confirm that @freewind's and @djalmaaraujo's issues are fixed by updating Jest to the latest version. It appears this was just a bug with an older bundled version of JSDOM, not `user-event`. This can be closed.

[2020-06-09 02:29] #187 closed

[2020-06-09 02:29] kentcdodds commented on #187
Thanks @nickmccurdy!

[2020-06-09 02:30] kentcdodds commented on #187
@all-contributors please add @nickmccurdy for projectManagement and question

[2020-06-09 02:33] kentcdodds commented on #183
Thanks so much for your help! I've added you as a collaborator on the project. Please make sure that you review the `other/MAINTAINING.md` and `CONTRIBUTING.md` files (specifically the bit about the commit messages and the git hooks) and familiarize yourself with the code of conduct (we're using [the contributor covenant](http://contributor-covenant.org/)). You might also want to [watch the repo](

[2020-06-09 06:14] nanivijay commented on #318
@kentcdodds issue is still happening with the latest version of user-event library. here is the codesandbox url
https://codesandbox.io/s/basic-react-testing-library-w-setuptestsjs-skclz?file=/src/Sample.test.js

[2020-06-09 07:00] nickmccurdy commented on #258
@dvoytenko Are you looking for new event APIs to simulate generic pointer events (possibly replacing the existing mouse-based events), or do you want the existing event APIs to fire pointer events additionally?

[2020-06-09 12:31] nickmccurdy commented on #207
Does this fix the problem you're referring to? #330

If not, please let me know what the other issues are with `tab()` and radio buttons.

[2020-06-09 13:05] nickmccurdy commented on #183
Keeping track of confirmed issues related to this goal in the [Roadmap](https://github.com/testing-library/user-event/projects/1). If you'd like to continue feel free to pick something off the To Do column.

[2020-06-09 13:10] #207 closed

[2020-06-09 13:14] kentcdodds commented on #207
:tada: This issue has been resolved in version 11.3.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-09 22:19] nickmccurdy commented on #183
@kentcdodds Did you meant to send a comment? I thought I remembered you typing on on stream.

[2020-06-09 22:44] kentcdodds commented on #183
Haha, yeah, I started typing some ideas of other things we could add, then I changed my mind on them 😅

[2020-06-10 04:06] kentcdodds commented on #183
Ok, after thinking about this and feeling revitalized thanks to @nickmccurdy's personal interest, I'm motivated to making this happen. Let's make this happen, and in the next day or two. We can leave this package without a major version bump (though perhaps we'd do a major version bump akin to https://npm.im/dom-testing-library to announce the deprecation of the package), and we can do a minor ver

[2020-06-10 04:09] diegohaz commented on #183
@kentcdodds Happy to hear that! :)
Are you planning to livestream part of that?

[2020-06-10 04:46] #254 closed

[2020-06-10 04:52] kentcdodds commented on #254
:tada: This issue has been resolved in version 11.4.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v11.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-10 05:16] kentcdodds opened #333 "Create Event Playground"
When working on the event methods, it can be really useful to get an idea of what events are actually dispatched when a real user does something. So far, I've been using this: https://codesandbox.io/s/quizzical-worker-eo909?file=/src/index.js

It works great, but I think having something more substantial with an actual interactive UI would be really really cool/helpful. Just opening this issue to

[2020-06-10 05:16] kentcdodds opened #351 "Create Event Playground"
When working on the event methods, it can be really useful to get an idea of what events are actually dispatched when a real user does something. So far, I've been using this: https://codesandbox.io/s/quizzical-worker-eo909?file=/src/index.js

It works great, but I think having something more substantial with an actual interactive UI would be really really cool/helpful. Just opening this issue to

[2020-06-10 05:41] kentcdodds opened #334 "Prepare for moving to DOM Testing Library"
One of the things we need to make sure is that this project isn't using React Testing Library. We're doing that with the tests a bit and we need to remove it.

[I've gotten started](https://github.com/testing-library/user-event/commit/a4678d9bbcabb6c394b42ef25a8c5758fa7a9b66). The one thing that won't work is the test about `act`, but I don't think that test needs to come along. I don't worry abou

[2020-06-10 05:41] kentcdodds commented on #183
Probably. Will be on https://kcd.im/discord

[2020-06-10 09:42] GiovanniGiampaolo opened #335 "testing-library/user-event has unmet peer dependency testing-library"
I got this using `yarn` on my `react `project.

`@testing-library/user-event@10.3.5" has unmet peer dependency "@testing-library/dom@>=5"
`
This is a simple warning that means that I should have into my dependencies

- @testing-library/dom@>=5

or is there some dependencies missing from testing-library/user-event?

[2020-06-10 15:52] tadger opened #336 "Cannot use type() to type a "-" (minus) into a numeric input (type="number")"
- `@testing-library/user-event` version: `11.3.2`
- Testing Framework and version: `jest 26.0.1`
- DOM Environment: jsdom `16.2.2`

**What you did:**
I am testing an input with `type="number"`

**What happened:**
`-` minus key press is not registering when testing a numeric input

**Reproduction sandbox:**
https://codesandbox.io/s/intelligent-ishizaka-c2zv6?file=/src/App.test.js

**Problem descrip

[2020-06-10 19:12] #336 closed, assigned to kentcdodds

[2020-06-11 02:41] kentcdodds opened #342 "Do correctness audit"
After we get this into DOM Testing Library, let's make sure to do a correctness audit. I know for a fact that we're firing the `select` events in the wrong order or firing events that aren't actually fired. I also know that we're not firing all the events we should.

This is a good place to start: https://codesandbox.io/s/quizzical-worker-eo909

[2020-06-11 03:28] kentcdodds commented on #342
I guess we should probably do this *while* we're getting this into DOM Testing Library. Some of these changes may be considered breaking changes so it'd be better to make it happen before actually releasing it.

[2020-06-11 03:28] kentcdodds commented on #334
Alrighty, this is ready to go. React is completely removed now.

[2020-06-11 03:28] #334 closed

[2020-06-11 03:41] kentcdodds commented on #318
Hi @nanivijay,

Sorry about that. I looked at it and there's a lot of moving parts in there it's hard for me to determine what the problem is. Could you do a little more digging please? Try to isolate the problem further?

[2020-06-11 11:11] nanivijay commented on #318
@kentcdodds sure i will do

[2020-06-11 13:31] tadger commented on #336
@kentcdodds Thank you for the super quick action on this one. I feel like a bum for not noticing it before I opened this issue, but I'm also seeing unexpected behavior for `.` (period) key presses in decimals. I've added a test to the codesandbox (above) to illustrate it.

[2020-06-11 16:41] kentcdodds commented on #336
No worries, I'm actively working on this and just pushed a fix. Should be released in a moment.

Note: it's a known limitation that you cannot use the `,` as a decimal separator. You can only use `.` as the decimal. Thanks!

[2020-06-11 21:39] nickmccurdy commented on #311
- [ ] Extract `allAtOnce` option from `type` event into `paste` event
- [ ] Implement clipboard data support https://github.com/testing-library/dom-testing-library/pull/585
  - [ ] Add tests
  - [ ] Rebase
  - [ ] Merge
- [ ] Add clipboard events

[2020-06-12 15:53] kentcdodds commented on #342
- [ ] toggleSelectOptions
- [ ] click
- [ ] dblClick
- [ ] type
- [ ] clear
- [ ] tab
- [ ] hover
- [ ] unhover
- [ ] upload
- [ ] selectOptions

[2020-06-12 16:12] nickmccurdy commented on #311
@rbusquet I think I figured this out mostly, but if you want to experiment/learn about paste events I have a [playground](https://codesandbox.io/s/paste-event-playground-6zlo9)

[2020-06-12 17:37] rbusquet commented on #311
@nickmccurdy thanks! Yeah, I figured I would need more research, thanks for picking this one up.

[2020-06-12 22:57] dvoytenko commented on #258
Hmm. What order are you observing? It should be fairly compatible between browsers.

[2020-06-12 23:53] kentcdodds commented on #258
Pull this up in a desktop browser and a mobile browser and you'll see it's quite different: https://codesandbox.io/s/user-event-playground-eo909?file=/src/index.js

We'll be going with the desktop for everything.

[2020-06-13 02:08] kentcdodds commented on #342
All done!

[2020-06-13 02:08] #342 closed

[2020-06-13 10:04] nanivijay commented on #318
@kentcdodds during my investigation i found that the issue starts happening from @testing-library/dom - 7.9.0 . I updated the example to use fire event instead of userevent. fireevent was working till version 7.8.0. i looked at the change in v7.9.0 i didn't find any breaking change but you may have more context on the change. please take a look at this codebox https://codesandbox.io/s/basic-react-

[2020-06-14 04:56] nickmccurdy commented on #183
We're now working on merging `user-event` back into `dom-testing-library` in testing-library/dom-testing-library#616

[2020-06-15 11:56] loekup opened #346 "`type` regression if textarea has no value before typing"
- `@testing-library/user-event` version:
- Testing Framework and version: 11.4.2

- DOM Environment:
jest@26.0.1
@testing-library/jest-dom@5.9.0
@testing-library/react@10.2.1

Relevant code or config

[code]

What you did:

Updated from 11.2.1 to 11.4.2

What happened:

library code types incorrectly if the textarea has no value when it start typing

Reproduction repository:
https://codesandbox.io

[2020-06-15 12:17] beckerei opened #356 "activeElement might change during userEvent.type causing runtime errors"
- `@testing-library/user-event` version: >= 11.1.0
- `@testing-library/dom` version: 5.10.1
- Testing Framework and version: jest@26.0.1
- DOM Environment: jsdom jest-environment-jsdom-global@2.0.2
- node: 13.7.0

### What you did:

Using `userEvent.type`. We have like > 1k tests which mostly use `fireEvent` but slowly upgrading to `userEvent`. All run fine, execept for one I encountered while upd

[2020-06-15 18:24] bmerkle3 commented on #346
I'm following this issue as we encountered the same.

if we expected to get the following input: "Entering a note."
we are currently receiving: "ntering a note.E"

[2020-06-15 18:55] kentcdodds commented on #346
Thanks for the report you two. I'll get this fixed soon. Doing a bunch of work on user-event right now.

[2020-06-15 21:25] kentcdodds commented on #346
If I download the codesandbox locally, it passes 🤔

![image](https://user-images.githubusercontent.com/1500684/84707696-66fca580-af1c-11ea-9c21-333950488cdc.png)

[2020-06-16 07:39] loekup commented on #346
Did some further testing, the problem lies in 'jest-environment-jsdom-sixteen' in my own project i was running 'jest-environment-jsdom-global' and apparently the codesandbox online runner ignores the --env in the package scripts

[2020-06-16 10:25] mpgon commented on #346
I don't think it's related, but the newly typed value doesn't show in the rendered markup. Shouldn't it?
[code]

[2020-06-16 12:28] eps1lon opened #350 "fireEvent.focus should be discouraged"
### Describe the feature you'd like:
Discourage `fireEvent.focus(element)`

### Suggested implementation:

Prefer `element.focus()`

### Describe alternatives you've considered:

Don't use existing API or call `element.focus()` internally.

### Teachability, Documentation, Adoption, Migration Strategy:

`fireEvent.focus(element)` will not move the focus to the element i.e. `document.activeElement

[2020-06-16 12:28] #350 closed

[2020-06-16 12:29] kentcdodds opened #352 "Make *every* event fire only after a tick of the event loop"
Users don't fire a keyUp *immediately* after a keyDown and neither should our tests.

I'm thinking this could be pretty easy to add by making our own copy of `fireEvent` which adds a `tick` before executing the event.

This means that every util would be async.

[2020-06-16 12:29] #352 closed

[2020-06-16 12:46] herecydev commented on #304
@kentcdodds are the versions correct? I've just been spinning my wheels with the same error.

I think the minimum dependency is not `^7.9.0` **but actually** `^7.16.0`. The change to createEvent occurred here: https://github.com/testing-library/dom-testing-library/commit/df57d7b86c7523f49b5b2d0909baa2b2ca9000d0

Which was released in 7.16.0. So I'm pretty sure this needs bumping: https://github.co

[2020-06-16 13:07] kentcdodds commented on #353
This is now supported

[2020-06-16 13:07] #353 closed

[2020-06-16 13:30] nickmccurdy commented on #183
The main blocker currently is getting async events implemented in a way that fixes [this issue](https://github.com/testing-library/dom-testing-library/pull/616#issuecomment-643711133).

[2020-06-16 14:13] kentcdodds commented on #304
Ah yeah, that was a mistake in the latest release. That should be updated. Want to fix that?

[2020-06-16 14:20] kentcdodds commented on #346
I don't know. I'd have to look into it. You can if you like 😁

[2020-06-16 14:21] herecydev commented on #304
Yep I'll send a PR in a bit

[2020-06-16 15:39] khalidwilliams opened #358 "userEvent.selectOptions does not trigger onChange event"
- `@testing-library/user-event` version: 12.0.0
- Testing Framework and version: jest@24.7.1

- DOM Environment: jsdom@14.1.0

Relevant code or config

[code]

What you did:
I first noticed this behavior in a larger project, so I made a small repo to reproduce.

I made a `<select/>` element in React that fires a function received from props onChange. This behavior works as expected in the browser.

[2020-06-16 16:10] VisheshSingh opened #359 "Testing Upload: Not sure what input is as per readme file"
This is not an issue but more in the lines of a question:

- `@testing-library/user-event` version: 10.3.1
- Testing Framework and version: Using React (16.13.1)
I ran `npm ls jest` and got this
`-- react-scripts@3.4.1
  -- jest@24.9.0`

- DOM Environment:

Relevant code or config

[code]

What you did:
I am new to testing, I was following the documentation for testing upload feature. From the doc

[2020-06-16 16:22] herecydev commented on #358
Thanks for opening this Khalid, experienced the same today and was going to put a repro together as well.

If I had to guess, the following PR would have caused it: #348

[2020-06-16 16:26] herecydev commented on #358
Looks like `fireEvent.click(option, init)` is called when using multiple but not when a single option is supplied. That might be the error

[2020-06-16 16:28] kentcdodds commented on #304
:tada: This issue has been resolved in version 12.0.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-16 20:56] twdrake-ap commented on #346
Yeah type is busted for me as well. Not modifying the input at all.

[2020-06-16 21:11] tadger opened #360 "Leading numbers trimmed when using type for decimals in numeric input"
- `@testing-library/user-event` version: `12.0.2`
- Testing Framework and version: `jest 26.0.1`

- DOM Environment: `jsdom 16.2.2`

What you did:
_Testing floating point values entered asynchronously into numeric text using `type`. I had mentioned this at the end of #336, and finally got around to testing it today. I've updated the sandbox dependencies. I've also updated the tests to reflect the

[2020-06-16 22:25] khalidwilliams commented on #358
@herecydev, how did you verify that clicks aren't going through when called with a single option? When I edit the test and implementation files to try multiple and non-multiple select elements (pushed up [here](https://github.com/khalidwilliams/select-test-demo/tree/multi-select-test/src), I can log information on click events in either case, but cannot log anything on change. Adding some screensh

[2020-06-17 01:16] nickmccurdy commented on #360
Could this be related to #346?

[2020-06-17 04:19] nickmccurdy commented on #355
This was partially implemented in #348 (which was ported from [dom-testing-library#645](testing-library/dom-testing-library#645))

[2020-06-17 04:26] nickmccurdy commented on #355
This was partially implemented in #348 (which was ported from [dom-testing-library#645](testing-library/dom-testing-library#645)), but I still have some more work in progress from the [todo list](https://github.com/testing-library/user-event/issues/355#issuecomment-642941030). I'll close this when I either fix the todos or extract them into separate issues.

[2020-06-17 12:14] #359 closed

[2020-06-17 12:18] nickmccurdy commented on #359
This section of the readme was missing the `input` variable, but it's been fixed in #362. This should hopefully make sense now, but if not feel free to ask more questions.

[2020-06-17 18:42] lourenci commented on #360
Can I try this one?

[2020-06-17 18:47] kentcdodds commented on #360
Please do! :)

[2020-06-17 19:34] juanca opened #365 "Document body should be a focusable element"
- `@testing-library/user-event` version: `@testing-library/user-event@10.4.0`
- Testing Framework and version: `jest@25.1.0`
- DOM Environment: `jsdom@16.2.0`
- node: `node/10.20.1`

Relevant code or config (I'm also using React)

[code]

What you did:

Ran the test.

What happened:

The test failed.

[code]

Reproduction repository:

Problem description:

It looks like the `tab` method does not c

[2020-06-17 22:16] juanca commented on #365
Possibly related:

Looks like we need to integrate `act` in `userEvent.tab`. Otherwise, we should recommend using `act` with `tab`. I noticed the user event was not waiting for my stateful component updates. I can look into reproducing this with the same example: use state to manage tab indices (focus => change indices structure).

[2020-06-18 03:00] marcosvega91 commented on #365
Hi @juanca I think that body is not in the list of focusable elements

[2020-06-18 05:21] nickmccurdy commented on #365
I've tested this out on various macOS and Windows browsers. Whenever I press tab past the end of the document (without any focus traps), `document.activeElement` is set back to the body, but my keyboard's cursor actually goes outside of the browser viewport and into the browser chrome (including the tabs and navigation bar items). So I'm not sure if it's accurate to say that the body can be focuse

[2020-06-18 06:32] nickmccurdy commented on #351
I'm not sure what "something more substantial with an actual interactive UI" is referring to. Are there any specific features or UI changes we're looking for?

[2020-06-18 07:33] marcosvega91 commented on #358
I think that the problem here is that React will trigger change on the bubbling phase but as I see in the code
`fireEvent(select, createEvent('change', select, init))` the event is created from scratch with `bubbles` to `false`

[2020-06-18 07:38] Spy-Seth opened #366 "Error when selecting a option in a simple select"
- `@testing-library/user-event` version: v12.0.2
- Testing Framework and version: Jest v26.0.1
- DOM Environment: jsdom v11.5.1:
- Node: v14.3.0

Relevant code or config:

[code]

What happened:

[code]

I'm not sure what happen. It seems the `createEvent` function is not available here:

https://github.com/testing-library/user-event/blob/0ce9dab7c80d66b9048d7a9aac04998ee40bfb05/src/select-options

[2020-06-18 09:50] GiovanniGiampaolo commented on #335
Thanks a lot!!

[2020-06-18 09:55] marcosvega91 commented on #366
Hi @Spy-Seth  I think that this issue is a duplicate of #335
`@testing-library/user-event` has a peer dependency of `@testing-library/dom` so you need to install it manually

[2020-06-18 09:56] nickmccurdy commented on #366
You specifically need at least version `7.16.0`, which we now require for features like `createEvent` that are used internally in `user-event`.

[2020-06-18 12:23] Spy-Seth commented on #366
I see, I was using `@testing-library/dom@7.11.0`, after upgrading to `@testing-library/dom@7.16.2` everything works fine :ok_hand:

Thanks for your help :+1:

[2020-06-18 12:23] #366 closed

[2020-06-18 12:53] nickmccurdy commented on #366
FWIW you should occasionally check your peer dependency warnings with `npm install` (for yarn you have to delete node_modules/pnp before reinstalling)

[2020-06-18 13:18] kentcdodds commented on #351
Well, I'm not working on this right now anyway so not really needed.

[2020-06-18 13:18] #351 closed

[2020-06-18 14:42] matburnham commented on #128
Unless I'm missing the point, I'm still finding this an issue.

Minimal BasicForm.js:
[code]

Minimal BasicForm.test.js:
[code]

npm run test BasicForm.test.js:
[code]

If I wrap `userEvent.type` in act the error goes away - but I imagine that's not actually solving the problem, just hiding it. At one point I thought it might be the input component re-rendering itself but if I remove the button (o

[2020-06-18 15:24] juanca commented on #365
@nickmccurdy I appreciate the analysis and clarification. I think you're 100% right.

Instead, I think the issue is:

Expected behavior:

When there is no focus trap defined, the default scope of tabable elements is the `document.body`. When the tab is at the end of the page tab sequence, it sets the active element to `document.body`.

Actual behavior:

The `tab` method focuses the first tabable e

[2020-06-18 16:06] nickmccurdy commented on #365
That sounds good.

Maybe we should just leave `toHaveFocus` alone. It's not a perfectly accurate name, but it is practical, and I think it would be too confusing to have a separate matcher for the unfocused state. Since `activeElement` is actually `body` when nothing is focused in JSDOM, I think it's fair to treat that as focused, even if it's slightly different from browser semantics.

[2020-06-18 16:26] matburnham commented on #128
Unless I'm (again) missing the point, I'm still finding this an issue for `userEvent.click`.

Even more minimal BasicForm.js:
[code]

Even more minimal BasicForm.test.js:
[code]

npm run test BasicForm.test.js:
[code]

Wrapping `userEvent.click` in `act` similarly causes the error goes away - but I still imagine that's not actually solving the problem, just hiding it. Is this the same issue as abo

[2020-06-18 17:56] kentcdodds commented on #128
Can you simplify it further so it's not using any dependencies?

It's likely that `react-bootstrap` has a side effect that's causing this issue.

Note also, `userEvent.click` is synchronous, so you shouldn't have to `await` it at all.

[2020-06-18 20:37] matburnham commented on #128
If I strip it right back, all is fine:

BasicForm.js:
[code]

BasicForm.test.js:
[code]

----

The problem is only present when I use `handleSubmit` from react-hook-form:

BasicForm.js:

[code]

npm run test BasicForm:
[code]

[2020-06-18 21:32] lourenci commented on #360
I don't know why (yet) but sending an input event with a point in the end will empty the input value. E.g.:

[code]

So any value I got before "typing" the point turn empty when I "type" the ".".

I don't know yet whether this is a `user-event`, a `jsdom`, or a `fireEvent` bug. What do you guys think about that?

I think it's easy to solve here once we settle on a `userEvent` bug.

[2020-06-19 01:24] nickmccurdy commented on #360
Can that be replicating using raw DOM events in JSDOM?

[2020-06-19 07:17] jamsinclair commented on #358
@marcosvega91 great debugging!

If you need a workaround you could update affected tests to override the event properties.
[code]

Curious as to why we're not using aliased event functions e.g. `fireEvent.change`, which defaults `bubbles` to true. Must be tied/regressed from the attempted move over to `dom-testing-library`.

[2020-06-19 07:22] marcosvega91 commented on #358
I think that @kentcdodds can help us to understand why is not called `fireEvent.change`

[2020-06-19 14:10] kentcdodds commented on #358
It's because the browser doesn't call the change event. It calls a generic event with the type of change (like we do).

[2020-06-19 14:28] herecydev commented on #358
@kentcdodds is that true? Using the user-event playground shows it calls change:

![image](https://user-images.githubusercontent.com/11328618/85143269-742dd300-b241-11ea-9fa7-3e523eb88be2.png)

[2020-06-19 15:38] marcosvega91 commented on #358
ok I understand, but in any case we should call the event with `bubbles=true`

[2020-06-19 18:14] kentcdodds commented on #358
Yes, you're correct.

It just occurred to me that the event with type `change` can actually use `fireEvent.change` because [it's constructor is `Event`](https://github.com/testing-library/dom-testing-library/blob/55344ea3935a616b7e30f2a3aebb32c44134d75a/src/event-map.js#L59-L66), but we can't use `fireEvent.input` because it's constructor is `InputEvent` and that's not what the browser uses for th

[2020-06-19 18:24] marcosvega91 commented on #358
Yes of course I'll open a PR for that. I'll love all these projects

[2020-06-19 20:51] WretchedDade opened #369 "userEvent.type doesn't work well when a value is formatted after the onChange is fired"
- `@testing-library/user-event` version: 12.0.2
- Testing Framework and version: jest (24.9.0 locally and whatever version CodeSandbox uses)
- DOM Environment: `@testing-library/react`'s render function, so jsdom?

### React component logic
[code]

### Format function
[code]

### Tests
[code]

What you did:

I have a field where we collect a phone number and format it as the user types. To do so,

[2020-06-19 22:52] nickmccurdy commented on #369
Have you tried wrapping your `expect` calls in `waitFor`? `setState` updates are asyncronous in React so I believe you'd need to wait for them to update in your tests.

[2020-06-19 22:56] WretchedDade commented on #369
That was my first thought but seeing as the test fails because the value is reversed rather than not having a value, i was able to rule that out.

[2020-06-19 22:59] nickmccurdy commented on #369
Ah sorry, I think I misunderstood the issue. Have you tried `paste`? It writes the input all at once, so I wonder if that would avoid the bug.

[2020-06-19 23:08] WretchedDade commented on #369
Paste did avoid the bug, but that would mean I'm not testing the same thing right? Or is it close enough to typing that its still a valid test for how the component responds to a user typing?

[2020-06-19 23:13] kentcdodds commented on #369
I'm 90% certain that your test as written above should pass and this is a bug, probably related to: https://github.com/testing-library/user-event/issues/346

Reproducing this would probably be a matter of adding another test here: https://github.com/testing-library/user-event/blob/f4eae9cf3c4bb5765dcdb7ce7f7652ae16e2f9a7/src/__tests__/type.js#L708

I'm not sure about the solution, but that's where

[2020-06-19 23:24] nickmccurdy commented on #369
To be clear, I wasn't suggesting to actually keep `paste` in your test. You're right that it would be different behavior, I was just interested in it for troubleshooting.

[2020-06-20 01:24] WretchedDade commented on #369
I'll pull down the repo and see if I can figure out what's going on.

[2020-06-20 02:40] WretchedDade commented on #369
After digging into this some, here is what I found:

The assumed new value and next location to insert text is calculated by the `calculateNewValue` function in order to call `_dom.fireEvent.input(...)`. However, when this event is fired the value is formatted and changes the value of `currentElement().value`. Because of this, the `newSelectionStart` value is inaccurate to where I would expect the

[2020-06-20 19:23] nickmccurdy commented on #369
Hm, that's interesting. If the snapshot changes look okay to you feel free to start a PR and we can hopefully figure out the other failures.

[2020-06-20 20:07] lourenci commented on #360
I can't replicate even a common change in my browser. 😞 I don't know why, but this snippet does not change the input value:
[code]
Maybe, just trusted input events can change the input's value?

[2020-06-20 21:00] WretchedDade commented on #369
Well, the tests are failing because this prevents any scenario of inserting text in the middle of the input. I'll probably take a crack at implementing something that works for both scenarios sometime in the next couple days and open a PR if I get something working.

[2020-06-20 21:16] WretchedDade commented on #369
The problem I ran into is I'm not sure how to convert my react test into one for this library (since its framework agnostic), so if anyone as ideas on that it would be appreciated.

[2020-06-20 21:22] nickmccurdy commented on #369
You're probably looking for the `setup` function from utils which will let you get a DOM element or list of events that you can snapshot, for example: https://github.com/testing-library/user-event/blob/f4eae9cf3c4bb5765dcdb7ce7f7652ae16e2f9a7/src/__tests__/paste.js#L1-L19

[2020-06-20 21:52] WretchedDade commented on #369
Thanks, that put me in the right direction and I've got a test written locally now. I tried to replicate what I had done in my react test with formatting the value on change but it doesn't seem to be firing a change event. When I format the value on the input event, it works fine. So I'm stumped now.

The test I wrote in `__tests__/type.js`:
[code]

[2020-06-21 01:49] kentcdodds commented on #360
You're getting issues because `3.` is an invalid value in a number input so you can't programmatically set that value. This is why we have the complex logic we do in the type utility.

Also, the value is set programmatically in the fireEvent utility in DOM Testing Library. Which is why you can't do it by dispatching an event. I suggest diving into the code a bit. I'm on my phone, but you should be

[2020-06-21 01:54] #365 closed

[2020-06-21 01:59] kentcdodds commented on #365
:tada: This issue has been resolved in version 12.0.3 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-21 02:00] kentcdodds commented on #369
I'm not sure 😬 you may have to do a little more digging.

[2020-06-21 04:47] WretchedDade commented on #369
So I did a little more digging and made a lot of changes. Which ultimately helped me understand the problem and reasons behind why the code was structured how it was. I then learned that the issue was ultimately how the browser responded to a programattic change and how userEvent.type responded to it.

I learned what the intentions were behind the following code and that the problem was if the val

[2020-06-21 12:48] #369 closed

[2020-06-21 12:53] kentcdodds commented on #369
:tada: This issue has been resolved in version 12.0.4 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-21 12:53] kentcdodds commented on #346
:tada: This issue has been resolved in version 12.0.4 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-21 13:29] lourenci commented on #360
I'll handle that on the type utility so. Thank you guys for the helper.

[2020-06-21 18:29] kentcdodds commented on #360
:tada: This issue has been resolved in version 12.0.5 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-21 18:51] #360 closed

[2020-06-22 07:40] mpgon commented on #346
The codesandbox repro case above is still failing for me for versions 12.0.4/5/6

[2020-06-22 10:15] marcosvega91 commented on #346
The problem here is that before typing `selectionStart` and `selectionEnd` are undefined. I think that can be a problem of `jsdom` instead

[2020-06-22 10:41] #346 closed

[2020-06-22 13:46] fabb commented on #358
I just wanted to open an issue and saw there's already a PR for it, nice!

Here's my repro:
https://codesandbox.io/s/usereventselectoptions-bug-gn8wb?file=/src/__tests__/App.js

[2020-06-22 17:44] #358 closed

[2020-06-22 17:47] kentcdodds commented on #358
:tada: This issue has been resolved in version 12.0.7 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-24 17:19] ybentz opened #380 "input type="file" - upload() doesn't trigger onChange in React"
- `@testing-library/user-event` version: 12.0.0+
- Testing Framework and version: jest@26.1.0
- DOM Environment: jsdom@16.2.2

Relevant code or config:

All relevant code is in the codesandbox, no special config needed.

What you did:

I have a project with a form that includes a `<input type="file"/>`. I wrote a test for the form that was working well up until I upgraded from v11 to v12. I create

[2020-06-24 19:14] kentcdodds commented on #380
Pull request would be appreciated 👍👍

[2020-06-24 23:49] ybentz commented on #380
@kentcdodds I have the fix + tests pretty much ready to go but when trying to commit any changes the pre-commit hook fails with this linter error:
![image](https://user-images.githubusercontent.com/14811577/85638136-f94a2b00-b639-11ea-817b-33c477a1a59a.png)

This is obviously not related to the PR itself and I see that this is the case all across the user-event library that imports from `/dom` dir

[2020-06-25 00:28] kentcdodds commented on #380
The last line in the screenshot shows you how to bypass this.

I think if you update your branch to the latest on master then this should be fixed.

[2020-06-25 00:37] ybentz commented on #380
Thanks for the quick reply!

Cool, I figured that much but didn't know if that's the preferred way to go so I asked first.

I forked from the latest commit on master and looking at [the code](https://github.com/testing-library/user-event/blob/master/src/upload.js#L1), it's still importing from there so unless the fix happened somewhere else I don't think it's fixed yet.

[2020-06-25 01:12] kentcdodds commented on #380
We should disable that rule in the package.json of this project. I can do that later, or if you'd like to do that before me that would be welcome as well.

[2020-06-25 01:24] ybentz commented on #380
Sure. I'll submit a PR shortly.

[2020-06-25 01:48] #380 closed

[2020-06-25 01:53] kentcdodds commented on #380
:tada: This issue has been resolved in version 12.0.8 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-25 04:43] kentcdodds opened #384 "Wrap everything in `eventWrapper`"
Normally, we call `fireEvent` to trigger events, and that should already be wrapped in the `eventWrapper`. If the user's using `@testing-library/react`, then this eventWrapper will be `act`.

However, we don't always use `fireEvent` and if this were to trigger a state update:

https://github.com/testing-library/user-event/blob/8b15930e4ff16eb0d09a72dac052bffa0e12ebaf/src/focus.js#L10

Then we're t

[2020-06-25 04:51] kentcdodds commented on #384
I'm almost done with this. Going with option 1 because I verified it'll work :)

[2020-06-25 04:54] #384 closed

[2020-06-25 04:57] kentcdodds commented on #384
:tada: This issue has been resolved in version 12.0.9 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-25 07:35] Belco90 opened #386 "bug: TypeError: (0 , _dom.getConfig) is not a function"
- `@testing-library/user-event` version: 12.0.9
- Testing Framework and version: React Testing Library v10.4.3

- jest: v26.1.0
- DOM Environment: jsdom v16 (default one from jest)

What you did:
I just bumped user-event from 12.0.7 to 12.0.9

What happened:
I'm getting `TypeError: (0 , _dom.getConfig) is not a function` when using `userEvent.click` in tests that were passing using v12.0.7

![imag

[2020-06-25 07:44] kentcdodds commented on #386
Hi @Belco90 👋 sorry for the trouble.

The peerDepenency of this project requires you have a more recent version of DOM Testing Library installed. That's not new. You'll need to upgrade DOM Testing Library.

[2020-06-25 07:44] #386 closed

[2020-06-25 08:09] Belco90 commented on #386
Mmm ok installing DOM Testing Library individually solved the problem. I didn't realize this was a peer dependency, I guess the doc could clarify this as it looks enough just having it as dependency from React Testing Library.

[2020-06-25 10:59] Nasdan opened #387 "userEvent.type gets only last letter on v12.0.9"
- `@testing-library/user-event` version: 12.0.9
- Testing Framework and version: jest@26.0.1
- DOM Environment: jsdom@16.2.2, jest-environment-jsdom@26.1.0
- node@12.14.0

Relevant code or config

_name-edit.js_

[code]
_name-edit.spec.js_

[code]

What happened:

Since I update to v12.0.9 this spec fails because it gets only last letter.

![image](https://user-images.githubusercontent.com/4374977

[2020-06-25 12:57] nickmccurdy commented on #386
We've added it to the installation instructions recently https://github.com/testing-library/user-event#installation

[2020-06-25 18:04] ybentz commented on #387
@kentcdodds looking at the changes introduced in 12.0.9 and [the code and comments in `type.js`](https://github.com/testing-library/user-event/blob/master/src/type.js#L19-L34), looks like `type` wasn't wrapped by default on purpose and should only be wrapped if a delay was passed otherwise it's considered a sync op? Should that specific change be reverted?
In addition, passing a `{ delay: 1 }` to

[2020-06-25 18:53] kentcdodds commented on #387
I think we need to wrap it with the event wrapper only if it's not using delay. Otherwise it should be wrapped in only the async wrapper

[2020-06-25 20:06] kentcdodds commented on #387
:tada: This issue has been resolved in version 12.0.10 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-25 20:28] marcosvega91 commented on #387
It seams that the issue is not solved yet. I have tried [here](https://codesandbox.io/s/currying-dew-ycvuk?file=/src/index.js), but the problem is the same

[2020-06-25 20:31] kentcdodds commented on #387
Could you add a test to reproduce this issue?

https://github.com/testing-library/user-event/blob/master/src/__tests__/type.js#L717

[2020-06-25 20:38] marcosvega91 commented on #387
I think that the problem is that `react` is not rerendering after input change.

It seams to happen at the beginning and at the end

[2020-06-25 21:11] wKovacs64 commented on #387
I agree it seems specific to React. (Or at least, I can't reproduce in vanilla but I can in React.)

[2020-06-25 21:35] marcosvega91 commented on #387
I think I understand the problem.

We have `type` function that is wrapped by `act`. At the same time all fire event function are wrapped by `act`.

Act will flush microtask only when there are no more pending act. So because we have nested act this will be done only after typing and not during it.

I don't know if I'm wrong in something

[2020-06-25 21:51] kentcdodds commented on #387
Yup, verified that intuition is correct @marcosvega91 :+1:

[code]

So what I'm going to do is change from option 2 to option 1 (ref: https://github.com/testing-library/user-event/issues/384)

[2020-06-25 21:54] marcosvega91 commented on #387
Yes this will solve the problem :)

[2020-06-25 22:10] #387 closed

[2020-06-25 22:13] kentcdodds commented on #387
:tada: This issue has been resolved in version 12.0.11 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.11)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-26 07:51] Belco90 commented on #386
My bad I guess, as I didn't check installation instructions because it was already installed.

[2020-06-26 09:18] jmyrland opened #391 "userEvent.type(input, 'text') consistently shuffles the input"
- `@testing-library/user-event` version: 12.0.11
- Testing Framework and version: jest@24.9.0

- DOM Environment: jsdom@14.0.0 (via `jest-environment-jsdom-fourteen`)

I'm having some issues with the following test-snippet (copied from the readme with some minor modification):

[code]

When I run this, it fails with the following output:

![image](https://user-images.githubusercontent.com/837651/8

[2020-06-26 14:33] kentcdodds commented on #391
I have reproduced this issue: https://codesandbox.io/s/pedantic-maxwell-wu50t?file=/src/__tests__/index.js

I'm guessing it's something odd with React because we absolutely have tests for this:

https://github.com/testing-library/user-event/blob/26d246269058228a8255aa1ce8b3e438aa7ad3e2/src/__tests__/type.js#L109-L144

I'm not sure what the problem is, but if someone wants to investigate and figure

[2020-06-26 14:42] jmyrland commented on #391
I just noticed this:

Might this be related?

[2020-06-26 14:53] lourenci commented on #391
I can take a look at this later.

[2020-06-26 15:04] nickmccurdy commented on #391
[The sandbox](https://codesandbox.io/s/pedantic-maxwell-wu50t?file=/src/__tests__/index.js) depends on Jest DOM, doesn't have peer dependency warnings for it, and still fails.

[2020-06-29 00:57] ogenodisho commented on #237
This should fix the issue assuming you're not on Jest 26 or over: https://github.com/mui-org/material-ui/issues/15726#issuecomment-493124813

[2020-06-29 21:03] nickmccurdy commented on #391
This bug was introduce in #322 (version 11.3.1)

[2020-06-29 21:28] marcosvega91 commented on #391
this issue is like #346. The problem is that when the `textarea` has no default value both `selectionStart` and `selectionEnd` are `undefined`. I have tried locally  in the past but this issue not happens. It happens only in codesandbox.

We can add a check at the beginning of `type` function, but it's very odd

[code]

[2020-06-29 22:10] kentcdodds commented on #391
Is there any way we can alter the code in other places so we don't actually set the selection range?

[2020-06-30 04:13] nickmccurdy commented on #391
Unfortunately I think it'll be hard to test this out until we can reproduce it locally. As far as I'm aware this bug only reproduces on Code Sandbox, but I don't think it supports linking packages.

[2020-06-30 09:38] Spy-Seth commented on #366
I a big mono repo project they are to many warnings that could not be fixed: to much noise that hide true issue

[2020-07-01 17:09] nickmccurdy opened #393 "References to React are misleading"
We still seem to suggest that this library is only for React in some places, when it's meant to be general purpose for any testing library.

Thanks to @gndelia for discovering most of these issues!

[2020-07-02 12:54] sibelius commented on #230
@rdjpalmer  what is your final helper to fix contenteditable?

[2020-07-02 20:37] nickmccurdy opened #394 "tab should support composite elements"
Problem description: The [WAI ARIA `composite` abstract role spec](https://www.w3.org/TR/wai-aria/#composite) requires that any element with a subclass role of `composite` is treated as a single navigational element.

Suggested solution: We should treat any elements with these roles as a single "tabbable" element, rather than tabbing through its child elements. Perhaps we could add a function that

[2020-07-03 06:23] rdjpalmer commented on #230
@sibelius I didn't go any further than I described above. Ended up not testing that part of the application, as the entire application is simple & easy to test manually

[2020-07-07 11:18] jcolakk opened #395 "Add support for cyrillic and chinese characters in userEvent.type"
Problem description: `userEvent.type` doesn't support Cyrillic and Chinese characters(possibly others but didn't test it), its needed in order to test different locales, not sure if it can already be used, but didn't manage to find anything in the documentation.

[2020-07-07 12:34] marcosvega91 commented on #395
Hi @jcolakk thanks for opening the issue :)

I have created [here](https://testing-playground.com/?markup=DwSwdgDgrgLgUCAJgXgEQGMAW4CmBnHVOMAQwFsc0tcCiIAbE9HTAe3sRwCc0BlNqBwAEIGEIDurLgGsJozEOph8OISXoRMJAEY4YRAG7qolVDHz64AegB8QA&query=K4ZwpgTgogbmB2AXAdAYwDZgIYQBQlQjAWQHMxEAhATwCUB7TXAckTAA9EAje95gSn4AoUJFgIUiagAcw%2BQsXhkKNBk1YduvAQBoABM0A6q4ATxgUA) a playground with Chinese characters but I have

[2020-07-07 12:37] jcolakk commented on #395
Hmm, indeed works 🤔  okay, I'll play around with it in our codebase a bit more, could be some underlying issue in our code. Thanks!

[2020-07-07 12:41] marcosvega91 commented on #395
If you need further assistance is better to create a reproduction case on [codesandbox](https://codesandbox.io/), in this way we can take a look of your code.

You can also join our [discord server](https://discord.gg/MqGcZ9) for this kind of help. We will happy to help you 🥳

[2020-07-07 12:44] jcolakk commented on #395
It was an issue on our side after all, sorry for bothering.

Sure, will do in the future 👍

[2020-07-07 12:44] #395 closed

[2020-07-08 11:58] piyushbajaj opened #396 "TypeError: (0 , _dom.getConfig) is not a function"
![Screenshot 2020-07-08 at 5 29 11 PM](https://user-images.githubusercontent.com/12572883/86916026-90d27200-c140-11ea-8cee-113d85897239.png)

I already have latest version of @testing-library/user-event
and @testing-library/dom (Indirectly refrenced)

Still getting this error in my React JS code, please help me.

[2020-07-08 12:22] piyushbajaj commented on #396
@kentcdodds
I just saw this https://github.com/testing-library/user-event/releases
And so i reverted user-events to point to c12.0.2 and it started working fine.

That means with the current new release: v12.0.11. The same above error coming up.
Please do fix this with current version also.

Thanks

[2020-07-08 13:26] kentcdodds commented on #396
You need to have the latest version of DOM Testing Library installed. Then that will work.

[2020-07-08 22:27] rohitchhabra1 opened #398 "userEvent.type do not set provided string to textarea"
- `@testing-library/jest-dom` version:
- `node` version:
- `npm` (or `yarn`) version:

### Relevant code or config:

[code]

### What you did:
  userEvent.type(textarea, "Greeting");
  expect(textarea.value).toBe("Greeting");

### What happened:
![image](https://user-images.githubusercontent.com/40591871/86922741-b2d0f200-c14a-11ea-8c06-6b418d2f98fa.png)

### Reproduction:

### Problem description

[2020-07-08 22:27] #398 closed

[2020-07-09 11:18] ahayes91 opened #399 "userEvent.type doesn't seem to support `input` fields of `type="date"` (native datepicker)"
- `@testing-library/user-event` version: 12.0.11
- Testing Framework and version: jest (out of the box with Codesandbox MUI issue template)

- DOM Environment: Out of the box with Codesandbox MUI issue template

Relevant code or config

For an MUI native datepicker such as (which ultimately renders in the DOM as an `input` component of `type="date"`):

[code]

`userEvent.type` will not call onChan

[2020-07-09 11:56] ahayes91 commented on #399
The workaround for this for now is to use `fireEvent` from `@testing-library/react` - will update the sandbox with that now.

[2020-07-09 13:53] nimobeeren commented on #396
Can confirm. Just ran into this issue, but I forgot to install `@testing-library/dom`.

[2020-07-09 15:12] #396 closed

[2020-07-09 22:54] lourenci commented on #399
I can confirm that. It's an issue even without React.

[2020-07-10 02:24] nickmccurdy commented on #391
This issue and #346 have been fixed in JSDOM, but Code Sandbox's Jest support is still hard coded to use JSDOM 4.0.0, which doesn't have the fix: https://github.com/codesandbox/codesandbox-client/pull/1812/files#diff-3fcdeb2de813a974b29d8610b234c7f2R51

There would be two ways to solve this:
1. Patch Code Sandbox so it's not hard coded to JSDOM 4.0.0
2. Patch our updates in #322 so it still works

[2020-07-10 02:26] nickmccurdy commented on #346
If anyone still has this issue, I think I've tracked it down in https://github.com/testing-library/user-event/issues/391#issuecomment-656444436, and you can subscribe to #391 for updates

[2020-07-10 03:54] kentcdodds commented on #391
I think codesandbox will be making an effort to address some of these issues soon.

[2020-07-10 03:59] nickmccurdy commented on #391
Do we want to close this instead of patching? I've opened codesandbox/codesandbox-client#4530 for now.

[2020-07-10 04:25] kentcdodds commented on #391
Yeah, I don't want to worry about supporting old versions of JSDOM

[2020-07-10 04:25] #391 closed

[2020-07-14 09:22] bigfoot31 opened #401 "form submission not working"
at the moment if use userEvent.click on an element of type submit, it is not triggering the form submission, neither does fireEvent.click, it may be form implementation that is not using the onClick, however, the input is of submit type and as such, for a real user, clicking on the button does trigger a form submission. I think userEvent.click should trigger a form submission... Great library none

[2020-07-14 18:56] marcosvega91 commented on #401
Hi @bigfoot31 thanks for opening this issue :)

I have created a repo [here](https://codesandbox.io/s/form-submission-63zp5) but I'm not facing any problem.
Are you doing something different?

[2020-07-15 22:44] willgorham opened #402 "type event in textarea results in incorrect character order"
- `@testing-library/user-event` version: 12.0.11
- Testing Framework and version: jest 24.9.0

- DOM Environment: jsdom 11.12.0

Relevant code or config:

Basic create-react-app (not ejected).

Copied the `type` example directly from the readme:
[code]

What happened:

Running the test produces the following error:
<img width="571" alt="Screen Shot 2020-07-15 at 6 43 00 PM" src="https://user-image

[2020-07-16 02:49] kentcdodds commented on #402
Hey there @willgorham,

The issue is there are lots of bugs in the version of jsdom you're using. Try using this: https://www.npmjs.com/package/jest-environment-jsdom-sixteen

There's nothing more we can do to fix this.

[2020-07-16 02:49] #402 closed

[2020-07-21 15:09] rwalle61 commented on #402
For anyone hitting this issue in Create React App and unable to override Jest's default jsdom `testEnvironment` using a `jest.config.js`, I used this to override it with jsdom-sixteen: https://github.com/facebook/create-react-app/issues/7491#issuecomment-520157683

[2020-07-21 17:09] visualjerk opened #406 "Native button should trigger click on keydown space"
For of all, thank you for this handy library 😄

- `@testing-library/user-event` version: 12.0.11
- Testing Framework and version: jest - 26.1.0

- DOM Environment: react-dom - 16.13.1

Relevant code or config

[code]

Reproduction repository:

https://codesandbox.io/s/angry-bas-bttix?file=/src/user-event.test.js

Problem description:

A native button triggers a click event on keydown space.
Curren

[2020-07-21 17:21] visualjerk opened #407 "Error when using type on an element without a value property"
- `@testing-library/user-event` version: 12.0.11
- Testing Framework and version: jest - 26.1.0

- DOM Environment: react-dom - 16.13.1

Relevant code or config

[code]

Reproduction repository:

https://codesandbox.io/s/agitated-meitner-3zhxf?file=/src/user-event.test.js

Problem description:

I assume  that `userEvent.type` is the preferred way to simulate a keydown + keyup event on focused elem

[2020-07-21 17:58] tsmithATX commented on #356
I'm seeing this happen with portals where the portal component opens and has an active element but once you try to focus back to a text area to type the activeElement is the root of the portal.

[2020-07-21 21:14] kentcdodds commented on #407
I think the suggested solution is good. I'm worried about the challenges that `contenteditable` will present to us in the future, but if you just want to fire events at a div I think that's fine :)

[2020-07-21 21:26] kentcdodds commented on #406
That makes sense to me, though I think having a modifier (like `{space}`) would be useful. Would you be interested in adding support for that?

[2020-07-21 22:33] PeteJodo commented on #406
just to add to this convo, I have a test right now with an element that has `role` set to `button` and was trying to test that pressing `space` triggers the expected behavior but I'm hitting [this error](https://github.com/testing-library/user-event/blob/master/src/type.js#L60-L64) in the code. I wonder if by introducing a `{space}` modifier, we can avoid that branch in the code somehow.

There's

[2020-07-22 04:52] bigfoot31 commented on #401
Finally got it to work. Problem was using old versions of @testing-library/react & @testing-library/user-event.

Simply doing `npm i @testing-library/react` was installing older versions of the library.

[2020-07-22 05:19] #401 closed

[2020-07-22 05:20] marcosvega91 commented on #401
I'm happy to hear that. I'm closing the issue 😀

[2020-07-22 05:55] marcosvega91 commented on #406
what you're saying is regarding the other issue opened by @visualjerk https://github.com/testing-library/user-event/issues/407

[2020-07-22 08:31] visualjerk commented on #406
I would be glad to add support for it. Just to be clear:

I would expect that `userEvent.type(el, '{space}')` = `userEvent.type(el, ' ')`

[2020-07-22 09:01] marcosvega91 commented on #406
I think that the behaviour should be different because `{space}` on a button should press the button if the button has the focus while `' '` should add a value to the button equal to ` `

[2020-07-22 09:32] marcosvega91 commented on #407
@visualjerk Do you want to work on this PR 😃  ?

[2020-07-22 10:08] visualjerk commented on #407
Sure, I will 😄

[2020-07-22 14:15] kentcdodds commented on #406
But you can't "add a value to a button" so I do think it would make sense that they do the same thing when triggered on a button.

[2020-07-22 14:40] marcosvega91 commented on #406
I think that I can do `<button value="my value to send">Click me</button>`

The value is used to send when a form is submitted. Am I'm wrong?

[2020-07-22 14:41] PeteJodo commented on #406
@marcosvega91 yeah that works but pressing space on that button wouldn't change the value of the button to `"my value to send "` (note the space at the end). Instead, it activates the button.

[2020-07-22 14:49] marcosvega91 commented on #406
from a user perspective I think that is not possible to add a value to a button, at the same time value property is valid on button, so I think that in `type` function we should block the possibility to write into value.

I can do this `document.getElementsByTagName('button')[0].value = "my value"`
But I think that we shouldn't do this `userEvent.type(myButton, 'my value')` but we could do this us

[2020-07-22 15:07] visualjerk commented on #406
I will handle the case `userEvent.type(myButton, 'my value')` inside the same PR, if this is ok for you.

[2020-07-22 15:13] marcosvega91 commented on #406
For now every element that can have a value property are valid I think.

Because we simulate user interactions on a browser user can't write in a button but at the same time can press a space on a button.

I think that we should skip code that add value in the `type` implementation for buttons and add `{space}` modifier. @kentcdodds what do you think?

[2020-07-22 15:28] kentcdodds commented on #406
Whatever we do, let's just make sure it results in the same events that are fired when the user does that interaction in the browser: https://codesandbox.io/s/user-event-playground-eo909

[2020-07-22 18:39] marcosvega91 commented on #406
I'll do a little recap. I hope to do a right thing 🦸

We have two things to consider:

1) We want to implement `userEvent.type(button, '{enter}')`

    ### What why want implement?
    We want make a button clickable using `type` function pressing `space`
    ### How we can implement {space} modifier?
    We should add this feature to `getEventCallbackMap` function, doing something very similar to

[2020-07-22 22:43] visualjerk commented on #406
Thanks for the recap! If it is okay for you, I would try to also correct the bug in the same PR.

Actually a button is not the only element that has a `value` that should not be changed by typing.

We also need to consider als `<input>` elements with one of the following types:

- button
- color
- file
- image
- reset
- submit

I will include these in the fix as well.

[2020-07-22 23:19] kentcdodds commented on #406
That sounds great 👍

[2020-07-23 20:45] #406 closed

[2020-07-23 20:52] kentcdodds commented on #406
:tada: This issue has been resolved in version 12.0.13 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.13)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-24 00:20] tsairinius opened #411 "Test fails when using userEvent.type for an input element of type 'number'"
Hello, I recently updated the versions for the following dependencies, and I'm now encountering an issue when using userEvent.type to type a number:
    "@testing-library/jest-dom": "^5.11.1",     // Used to be 4.2.4
    "@testing-library/react": "^10.4.7",          // Used to be 9.5.0
    "@testing-library/user-event": "^12.0.13",     //Used to be 11.4.2

Here are all of the dependencies in my pr

[2020-07-24 02:57] imjordanxd opened #412 "Make type resolve to the text that was typed"
Would it possible for `type` to resolve to the text that was typed?

I find myself doing the following often and wrote a utility function, but it would be nice to see this added to the library:
[code]

With my utility I can do:
[code]

Additionally, would it be possible to add an option that could clear the text before typing?

[2020-07-24 07:22] ahayes91 opened #413 "Docs improvement for using `selectedRange` with userEvent.type"
- `@testing-library/user-event` version: Latest
- Testing Framework and version: Jest

- DOM Environment: jsdom 16

Problem description:
The use case is being able to specify how many characters should be deleted with
[code]
You can put this into a loop but the docs seems to suggest there is a way to use something called `selectedRange`, which I can't find in the codebase or in the documentation.

[2020-07-24 17:01] kentcdodds commented on #413
Good point @ahayes91! Perhaps an example could be helpful. Something like this: https://github.com/testing-library/user-event/blob/52c333cf1ea6d961bcfea64d974ee05845c1c924/src/__tests__/type-modifiers.js#L195-L197

Would be be interested in adding an example for this to the docs?

[2020-07-24 17:04] kentcdodds commented on #412
Hi @imjordanxd,

I can see how that could be useful, but I don't think it makes sense for `type` to return a value you passed it. It would make just as much sense to return the element I think.

Luckily, if you follow [the advice about custom utils](https://testing-library.com/docs/react-testing-library/setup#configuring-jest-with-test-utils) then you could make your own version of this utility ea

[2020-07-24 17:04] #412 closed

[2020-07-24 20:46] #407 closed

[2020-07-24 20:50] kentcdodds commented on #407
:tada: This issue has been resolved in version 12.0.14 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.14)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-26 14:09] lucbpz commented on #413
Hello! I took this issue as my first contribution to the project. I wrote the example like the other ones in the readme were written, let me know if it needs any changes! Thanks and I hope it helps!

[2020-07-26 14:39] #413 closed

[2020-07-26 16:34] wilsonburnawan09 opened #418 "userEvent.type honors maxLength when it's not supposed to"
- `@testing-library/user-event` version:
- Testing Framework and version:

- DOM Environment:

Relevant code or config

Dependencies
[code]

Failing test case
[code]

What you did:
Use userEvent.type on input with type=number and maxLength

What happened:
Fail the test case above

[code]

Reproduction repository:
https://codesandbox.io/s/stupefied-booth-9ov2i?file=/src/input.test.js:522-888

Probl

[2020-07-26 20:03] marcosvega91 commented on #418
Hi @wilsonburnawan09 thanks for opening the issue :).

You're right we should check this, not only inputs but also textarea. Do you want to submit a PR? :)

[2020-07-27 19:33] mnemanja opened #419 "userEvent.type documentation is not precise"
- `@testing-library/user-event` version: 12.0.15

Problem description:
The documentation doesn't state that the `type` method returns a promise. Only that if we apply `options.delay` that we should `await.

Or, perhaps, it is awaiting optional and situational?

I have to say, reading through the documentation, after the latest `type` method update, it read as if the `type` method no longer returns

[2020-07-27 20:50] aduth opened #421 "`upload` method doesn't account for input `accept` attribute"
- `@testing-library/user-event` version: 12.0.11
- Testing Framework and version: Mocha 6.1.4, Chai 3.5.0, Sinon 9.0.2
- DOM Environment: JSDOM 16.2.2

**Relevant code or config:**

[code]

**What you did:**

1. Assign `accept` to `<input type="file" />` to limit [accepted file types](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#Limiting_accepted_file_types)
2. Trigger `use

[2020-07-28 18:19] #418 closed

[2020-07-28 18:24] kentcdodds commented on #413
:tada: This issue has been resolved in version 12.0.16 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.16)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-28 18:24] kentcdodds commented on #418
:tada: This issue has been resolved in version 12.0.16 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.16)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-28 18:25] kentcdodds commented on #419
`type` always returns a promise, but if you don't pass a `delay` it finishes everything synchronously. So it only needs to be awaited if you pass a `delay`.

Would you like to describe this better in the docs in a PR?

[2020-07-28 18:27] #399 closed

[2020-07-28 18:31] kentcdodds commented on #399
:tada: This issue has been resolved in version 12.0.17 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.0.17)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-28 18:32] kentcdodds commented on #421
That suggested solution seems reasonable to me 👍

[2020-07-29 15:40] maxnewlands commented on #411
@tsairinius I wonder if this is a result of the fact that `value` as a content attribute (`input.getAttribute('value')`) doesn't reflect `value` as an IDL attribute (`input.value`). (More on the distinction [here](https://stackoverflow.com/a/6004028)).

I don't know what your `CreateProfileForm` component looks like, but [in my testing](https://codesandbox.io/s/trusting-bash-m5qqr?file=/src/__test

[2020-07-29 18:47] maxnewlands commented on #421
It seems that browsers don't reliably block uploads of files whose extension/MIME type doesn't match the `accept` value. From [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#Limiting_accepted_file_types):

Is there any concern that, if this type of validation was added to `upload`, it would give users undue confidence that files of unexpected types couldn't possibly be u

[2020-07-29 18:56] tsairinius commented on #411
@maxnewlands For my implementation, I did not have issues calling `toHaveAttribute` when the input's type was set to 'text'. This might be due to the fact that my `CreateProfileForm` is a controlled form, so the input's value is determined by the form's state. I pasted my component here in Codesandbox: [https://codesandbox.io/s/upbeat-sun-wu81l?file=/src/CreateProfileForm.js](url). Sorry, not too

[2020-07-29 22:17] aduth commented on #421
@maxnewlands Those are good questions! I could see arguments either way. Personally, I might still lean toward validating, due to the following:

- Technically, as a user, I could also remove the `disabled` attribute and fill out a field (maybe not quite as easily, but I could!). We'd still rely on server validation there, yet `@testing-library/user-events` will prevent input of a disabled field.

[2020-07-30 17:28] tsmithATX commented on #356
v12.0.14 addressed our issues, no longer seeing this happen!

[2020-07-30 23:10] kentcdodds commented on #421
Thank you for bringing this up @maxnewlands,

Yes, this is a major concern and for me it's enough that I don't think this should be included in the library. It's one thing to prevent the user from doing things that the browser prevents when certain attributes are on an element. It's a different thing entirely to programmatically make it impossible to do something that a user could actually do (lik

[2020-07-30 23:19] #356 closed

[2020-08-01 15:13] aduth commented on #421
Thanks @kentcdodds @maxnewlands . I see your points, and am fine to go ahead and close the issue.

From my perspective, it still leaves an open question of "How do I test the intended effects of adding `accept` to my input field?" It seems if this filtering is so easy to bypass, I may still want to have some _client-side_ validation (in addition the server-side) to check the type of the file that

[2020-08-01 15:13] #421 closed

[2020-08-03 01:28] kentcdodds commented on #421
What I would do is add an assertion that the attribute is there and then trust the browser to do what it should based on its presence.

[2020-08-04 16:03] ambroiseRabier opened #423 "Does this lib support <input type="color"/> ?"
Does this lib support `<input type="color"/>` ?

[2020-08-04 16:30] kentcdodds commented on #423
Hi @ambroiseRabier,

Yes it does.

[2020-08-04 18:26] ambroiseRabier commented on #423
I didn't said it explicitly, but how do you use this library to set the color ? I doesn't `type` anything, when choosing a colors, it is a serie of minimum 2 clicks. Neither `click` or `type` seem to have options for colors.
I just tried the closest I could think of: `userEvent.type(element, '#123456', {delay:0})`, no success with that.

[2020-08-05 08:56] levinqdl opened #424 "await userEvent.type causes setState in async effect warns not wrapped in act(...)"
- `@testing-library/user-event` version: 12.1.0
- Testing Framework and version: jest

- DOM Environment: jsdom

Relevant code or config

[code]

[code]

What you did:

testing a compoent with setState in async useEffect

What happened:

test passes with a waning of `not wrapped in act(...)`

[code]

Reproduction repository:

codesandbox demo: https://codesandbox.io/s/heuristic-chaum-v50nn?file=/s

[2020-08-05 10:34] visualjerk opened #425 "Proposal: Add info about jest-config to documentation"
By default jest uses an older version of jsdom. This version misses some features (eg. fire focusout on element.blur()). So in order to get the most out of `user-event` it is best to make sure jest uses the latest jsdom version, by adding this to the config:

[code]

Should we add a note about this somewhere in the README?

[2020-08-05 13:35] kentcdodds commented on #425
We could add this to the docs, but this is actually incorrect:

What's now likely is you're using an old version of jest and if you updated jest you'd get the latest version of jsdom as well. Unfortunately a lot of people are stuck on an old version of jest because they're using react-scripts which is still pending a major release after months of delays. Any day now I expect the release to happen,

[2020-08-05 15:15] kentcdodds commented on #423
Sorry, I think I was mistaken. Hey @visualjerk, do you have any ideas here?

[2020-08-05 15:47] kentcdodds commented on #424
This is expected behavior and has nothing to do with user event and everything to do with what your application is doing as a result of the events that are being fired. To learn more about the act warning read this: https://kentcdodds.com/blog/fix-the-not-wrapped-in-act-warning

So what you have with the `waitFor` solution works well, though you might prefer this:

[code]

I can't think of how we

[2020-08-05 17:02] levinqdl commented on #424
Hi, @kentcdodds

What confused me was since userEvent.type return a promise, so I should always await it. But now it seems await is not good for all cases. So I think it should be documented to remind users about it.

[2020-08-05 17:08] marcosvega91 commented on #424
Just for info `type`'s promise is always resolved immediately except when you pass `delay` parameter

[2020-08-05 18:27] visualjerk commented on #423
`<input type="color" />` is a bit tricky, as most browsers display it as a color picker.

As you can see [here](https://codepen.io/visualjerk/pen/poyoKNN?editors=1111) typing on these doesn't trigger an input event or change the inputs value.

So in order to test those you would probably have to use `dom-testing-library` [fireEvent](https://testing-library.com/docs/dom-testing-library/api-events#f

[2020-08-05 19:20] kentcdodds commented on #424
I'll add a better note in the README about this.

[2020-08-05 19:21] #424 closed

[2020-08-05 19:25] kentcdodds commented on #423
I agree. Maybe we could add a note in the docs about this? @ambroiseRabier, would you be interested in doing that?

[2020-08-05 19:47] visualjerk commented on #425
You're totally right 😅

I just assumed that because we use the latest version of `@vue/cli-plugin-unit-jest` and it has an old version of jest included as well as this in its jest preset (notice the fifteen instead of sixteen):

[code]

Maybe it is enough to relate to this issue, if someone stumbles upon a similar problem. I guess having it in the docs is a bit of an overkill for an issue that hap

[2020-08-05 19:47] #425 closed

[2020-08-05 20:10] visualjerk commented on #394
I guess this could lead to some confusion, as the `composite` role does not prevent a user from tabbing through the children of the element.

It is on the developer to make sure that a `composite` element behaves like the spec suggests (eg. using roving tabindex or aria-activedescendant technique).

So in adding the proposed solution, we would create false positives for components, that do not fol

[2020-08-05 22:28] kentcdodds commented on #394
Agreed. We always want to make certain that we follow what the browser actually does as closely as possible.

Thanks!

[2020-08-05 22:28] #394 closed

[2020-08-07 09:53] mnemanja commented on #419
Nope, I get it now and I think this sums your comment up very nicely.

[2020-08-07 09:53] #419 closed

[2020-08-07 10:04] mnemanja opened #426 "DateRangePicker onChange not triggering during testing"
- `@testing-library/user-event` version: v12.0.11
- Testing Framework and version:

- `jest` version: v24.9.0
- DOM Environment:

- `@testing-library/jest-dom` version: v5.11.0

node version: v13.8.0

What you did:
Writing test for DateRangePicker from Material-UI to assert the changes to the component which needs the date range information.

What happened:
The `onChange` of the `DateRangePicker`

[2020-08-07 17:23] marcosvega91 commented on #426
Hi @mnajdova thanks for opening the issue :).

I suggest you to use `getByRole` (https://testing-playground.com/gist/e5bf2f963c4be4ebe69e08e9563e08f9/b288e31dbfab91329ed0e6828dbaa59037780f3f).

The problem here is that clicking on the input field  only this events are fired

1) pointerdown
2) mousedown
3) focus
4) focusin

while on the test library are fired

1) pointerdown
2) mousedown
3) focus
4

[2020-08-08 00:00] kentcdodds commented on #424
:tada: This issue has been resolved in version 12.1.1 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/testing-library/user-event/releases/tag/v12.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket: